[2022-10-14 16:40] #970 closed

[2022-10-14 16:43] ErinOCon commented on #961
Hi @llifezou, thank you for your proposal! This grant has been approved. We will be in touch by email to confirm payment details.

[2022-10-14 16:43] #961 closed

[2022-10-14 16:48] ErinOCon commented on #839
Hi @bitruss, thank you for the updated milestone breakdown! I will be in touch by email to confirm next steps.

[2022-10-14 16:48] #839 closed

[2022-10-14 17:06] ErinOCon commented on #1000
Hi @Flaxscrip, thank you again for your patience! We will not be moving forward with a grant for this project at this time. We would be happy to consider a new proposal if additional use cases for metatron are developed in the future. Wishing you the best with your current project work!

[2022-10-14 17:06] #1000 closed

[2022-10-15 07:37] Fresszonesongs commented on #948
our prototype is available on a subdomain https://freezone-nine.vercel.app/

[2022-10-15 17:24] gundeep opened #1086 "Next Step Microgrant: Building data access layer for Mina Protocol."
### 1. What is your project? (max 100 words)
The project initially coined DALi (Data Access Layer) wants to build a library for MINA protocol using IPFS since like some other blockchains, Mina's on-chain storage is very limited (255*8 (Field) bits). This unlocks a whole new set of ZK-apps which could initially not be possible due to the constraints.

### 2. Project links

Link to Github repo:
Link

[2022-10-15 19:22] daniel-brave commented on #971
Hi @ErinOCon it was told me to that the team would get back to me within a week regarding an update for this grant application, I haven't received any mail or any updates on this issue.

Would you please let me know the current status of this application as I first opened this issue on August 4th on IPFS dev grants but moved it to this repository as I received no reply there.

Thanks again for you

[2022-10-15 20:38] bsampaio78 opened #1087 "Filecoin K8s OpenKube Extensions & Middleware Support"
# Open Grant Proposal: `Filecoin K8s OpenKube Extensions & Middleware Support`

**Name of Project:** Filecoin K8s OpenKube Extensions & Middleware Support

**Proposal Category:** `devtools-libraries`

**Proposer:** Bernardo (bsampaio78), Renato, Paulo

**(Optional) Technical Sponsor:**

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT, APACHE2, or GPL

[2022-10-16 21:27] tanyaya94 commented on #992
@ErinOCon Hello. I just wanted to know where the updates will be communicated because we have not yet received an update from the team as of 17th October, 2022.

[2022-10-17 09:40] tanyaya94 commented on #992
Hello. I just wanted to know which medium will be used to communicate updates regarding our application as we have not yet received an update from the team.

[2022-10-17 09:46] DarkBlue2021 commented on #894
Hi Filecoin team, we has made progress in the past weeks. We have started the design and building process ourselves – we do request Filecoin/IPFS team’s support to make the project a success in the real world (rather than some random code on a developer’s computer). We have reduced the scope of work, and would appreciate the final decision from Filecoin as soon as possible. Thank you.

[2022-10-17 10:09] Agin-DropDisco opened #1088 "Zonulet NFT Marketplace"
# Open Grant Proposal: `Zonulet`

**Proposal Category:** `app-dev`

**Proposer:** `Agin-DropDisco`

## Proposal Overview

<p align="justify">
Zonulet is a decentralized marketplace that uses most of the IPFS/FILECOIN technology to store all nfts files from each user and using Harmony (ONE) Blockchain for every transactions. Zonulet Marketplace does not store nft file data from each user using a ba

[2022-10-17 11:25] llifezou commented on #961
Hi, @ErinOCon , Thanks for the approval, I will try my best to make this product well. Waiting for your email, my email: `llifezou@gmail.com`
thank you

[2022-10-17 13:19] ErinOCon commented on #998
Hi @0xsuraj, thank you for the updated submission! I have sent an email to discuss next steps!

[2022-10-17 13:19] #998 closed

[2022-10-17 16:20] Flaxscrip commented on #1000
@ErinOCon - Thank you for your consideration. Can I confirm with you that we can continue with the remainder of the Metatron project funding?

Re: Additional Use Cases - I am working on a Crypto Carbon Credit project for a reforestation and sequestration company. Metatron is a great tech for that use case as well. I will re-connect at a future time as new options mature.

Cheers -

C.

[2022-10-17 19:56] ainhoa-a opened #1089 "Proposal: RFP: Block Explorer with FVM / FEVM support - Zondax"
# RFP Proposal: `RFP: Block Explorer with FVM / FEVM support `

**Name of Project:**  RFP: Block Explorer with FVM / FEVM support

**Link to RFP:**  ([Block Explorer RFP](https://github.com/filecoin-project/devgrants/blob/master/rfps/fvm-block-explorer.md))

**RFP Category:**   `devtools-libraries`

**Proposer:** `ainhoa-a`

**Do you agree to open source all work you do on behalf of this RFP and d

[2022-10-17 20:29] conorforde opened #1090 "FileCoin Sentiment Analysis"
### 1. What is your project? (max 100 words)

This project is an app that gets the price of filecoin cryptocurrency and also gets news articles on that day and then we use this dataset to identify if there is a correlation between the sentiment of news articles and the change in price of the cryptocurrencies.

### 2. Project links

Link to Github repo: https://github.com/conorforde/filecoin-sentim

[2022-10-17 22:36] ErinOCon commented on #1014
Hi @Jeffonemore, this grant has been approved! Do you have a preferred email address for confirming next steps?

[2022-10-18 05:45] Tasse00 opened #1091 "Next Step Microgrant: <FindTruman>"
### 1. What is your project? (max 100 words)

FindTruman is the STEAM-like co-creation story-gameplay platform in Web3. Our team has accumulated more than 30 million registered users on our APP, 1,500 authors in Web2. To solve the current issues in Web2 story-gameplay industry (i.e. the profit distribution problem, the piracy problem, …), FindTruman further clarifies the proof-of-stake and incenti

[2022-10-18 06:41] Jeffonemore commented on #1014
Hi @ErinOCon , thanks for your reply. The Email: storeros@wenchu.io

[2022-10-18 13:16] orinayodele commented on #1004
Hi @1Busayo thanks for your answers! We want to give you a $5,000 microgrant for your idea. Could you please fill out [this ](https://github.com/filecoin-project/devgrants/issues/new?assignees=ErinOCon&labels=Micro+Grant&template=microgrant.md&title=%3CYour+Title+Here%3E)template to proceed.

[2022-10-18 13:20] orinayodele commented on #987
Hi @briannawelsh thanks for the followup! we are finalizing some things this week and you should hear back from us by latest next week.

[2022-10-18 13:25] orinayodele commented on #978
Hi @Jameel139 ! We would love to hear back from you about some of the feedback that @mjohnson518 provided for you.

[2022-10-18 14:33] ErinOCon commented on #1031
Hi @tabcat, thank you for your proposal. This grant has been approved! We will be in touch by email to discuss next steps.

[2022-10-18 14:33] #1031 closed

[2022-10-18 15:55] BlocksOnAChain commented on #1089
adding @eshon and @raulk for visibility, so we can review once @ainhoa-a populates this RFP.

[2022-10-18 20:21] daniel-brave commented on #971
Hi @ErinOCon Currently what Im working on - > https://youtu.be/ALnR0c8ZGrc

[2022-10-18 20:24] daniel-brave commented on #971
@ErinOCon Could you share the team's feedback on my idea if possible would love to know what Filecoin Foundation thinks about Filterr.

[2022-10-18 21:13] mjohnson518 commented on #1033
Hi @MehighCB, thanks for your thoughtful responses.

It's still not clear to me how this scope of work will complement your efforts with the IEEE to create a universally accepted carbon standard, and how this grant funding will help enhance the quality of tokenized credits. Can you please further explain your thinking here?

As for the rest of my feedback, I do think it would be helpful if you lim

[2022-10-19 00:06] jenks-guo-filecoin commented on #1019
Hey there @rickityjo, I know there is a "build" part of your slack bot application. However the main purpose of the grant application seems to be to store the data.

What kind of services is suitable for your data storage? Does it need to be stored on IPFS for fast retrieval or can be archived on Filecoin?

I would also recommend looking at Filecoin Plus program and see if you are eligible for Dat

[2022-10-19 01:29] 1Busayo opened #1092 "CLEAFI"
### 1. What is your project? (max 100 words)
Using web3  to create a green environment and reduce carbon emissions.it helps recyclers to convert their images into NFTs with the help of smart contracts and are stored on a decentralized storage IPFS
### 2. Project links

Link to Github repo: https://github.com/1Busayo/CLEAFI
Link to demo or website, if applicable: https://cleafi.com
License:

### 3.

[2022-10-19 01:35] 1Busayo commented on #1004
Hello @orinayodele  please check  out the [template](https://github.com/filecoin-project/devgrants/issues/1092#issue-1414097084)  you told me to fill.
Thanks

[2022-10-19 02:29] Schwartz10 opened #1093 "Proposal: RFP: Glif Explorer with FEVM support"
# RFP Proposal: `GLIF Explorer`

**Name of Project:**
GLIF Explorer

**Link to RFP:** [fvm-block-exporer](https://github.com/filecoin-project/devgrants/blob/master/rfps/fvm-block-explorer.md)

**RFP Category:** `app-dev`

**Proposer:** [`schwartz10`](https://github.com/schwartz10)

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT and APACHE2 licenses?:

[2022-10-19 02:59] ErinOCon commented on #1046
Hi @qstnus, thank you for your proposal! We will not be moving forward with a grant at this time. Please feel welcome to re-apply if/when your project further incorporates IPFS, Filecoin, or related tech.

[2022-10-19 02:59] #1046 closed

[2022-10-19 03:02] ErinOCon commented on #1010
Hi @lakshh07, thank you for your proposal! This grant has been approved. Look out for an email to confirm payment details.

[2022-10-19 03:02] #1010 closed

[2022-10-19 03:03] jenks-guo-filecoin commented on #971
Hi @daniel-brave the grants team has a considerable backlog to deal with. Your patience is greatly appreciated.

[2022-10-19 03:07] ErinOCon commented on #995
Hi @qasertya, we will not be moving forward with a grant for this project at this time. Thank you for your proposal.

[2022-10-19 03:07] #995 closed

[2022-10-19 04:50] redransil commented on #1017
Hi! Sorry about the long response time. I see you are looking at tracking carbon emissions and trading offsets. Can you let me know more about what projects and hardware you are working with? Whose emissions are you tracking, and what is the plan to launch a working system with them?

[2022-10-19 05:07] suryanshsb commented on #973
@ErinOCon We have stopped working on the project due to other commitments.
Hoping to continue it in the future, just not at the moment.

[2022-10-19 05:07] #973 closed

[2022-10-19 06:31] chadwick2143 opened #1094 "RFP Proposal: Filfox with FVM / FEVM support"
# RFP Proposal: `Filfox with FVM / FEVM support`

**Name of Project:** Filfox with FVM / FEVM support

**Link to RFP:** [Block Explorer with FVM / FEVM support](https://github.com/filecoin-project/devgrants/blob/master/rfps/fvm-block-explorer.md)

**RFP Category:** `devtools-libraries`

**Proposer:** `chadwick2143`

**Do you agree to open source all work you do on behalf of this RFP and dual-licen

[2022-10-19 10:21] Fresszonesongs commented on #948
@ErinOCon  the prototype is set to vercel

[2022-10-19 10:47] rickityjo commented on #1019
There is a substantial amount of time involved in the "build" of this project that is why I am looking for this grant to cover development hours and the server costs. Storage won't be that bad of a cost.

[2022-10-19 12:52] iphyman commented on #870
Hello @ErinOCon do I need to resubmit a transfer request because the due date of the previous one is far exceeded?

[2022-10-19 15:57] ErinOCon commented on #991
Hi @irwingtello, thank you for your patience with our review. We will not be moving forward with a grant at this time. Please feel welcome to re-apply if/when your project further incorporates IPFS, Filecoin, or other closely related tech.

[2022-10-19 15:57] #991 closed

[2022-10-19 16:02] ErinOCon commented on #971
Hi @daniel-brave, thank you again for your patience. Is this a separate project from [this repo](https://github.com/SafeViewIPFS/IPFSContentModeration)? If so, can you briefly describe the building progress that is specific to your prototype?

[2022-10-19 16:08] ErinOCon commented on #968
Hi @affix-io, thank you for your patience with our review. Is this project related to [this repo](https://github.com/qri-io/qri)? If so, can you briefly describe the building progress that is specific to your prototype?

[2022-10-19 16:16] Schwartz10 commented on #1093
Note to the review team - our ambitious goal is to have a working MVP by the end of November (understanding this is what the core FVM team is looking for). We'd be ready to start as soon as next week if we can get this proposal approved.

[2022-10-19 16:39] ErinOCon commented on #953
Hi @jasonplato, thank you for your proposal! This grant has been approved. Look out for an email to confirm payment details.

[2022-10-19 16:39] #953 closed

[2022-10-19 17:02] ErinOCon commented on #842
Hi @0xTimepunk! I have sent an email with details regarding the payment. If you have questions regarding these details, please reply with our grants team cc'd.

Yes, please feel welcome to kick off the project at the beginning of the month. Please note that your final grant report is due within three months of your kick off date and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr).

[2022-10-19 17:02] #842 closed

[2022-10-19 17:07] ErinOCon commented on #964
Hi @sensurusirupus, I am still not able to view the provided address. Would you prefer to email us directly at grants@filecoin.org? If so, please follow up with a message on this thread to confirm this additional step is complete.

[2022-10-19 18:56] PeaceBello commented on #1017
Good day Alan,

Chemotronix is an early stage startup (part of Microsoft for startups
founders hub) tracking greenhouse gas emissions via a IoT device to enable
efficient allocation of carbon credits which will offset emissions to
ensure we attain net zero.

Currently we have our IoT prototypes deployed in some areas around  Osogbo
and Lagos, Nigeria.

We are currently in talks with some state gov

[2022-10-19 19:09] sensurusirupus commented on #964
Please would you please clarify what you mean by preferred address? My email address or Filecoin address? Thank you

[2022-10-19 19:42] ErinOCon commented on #964
Yes, your email address. Currently I cannot see the characters. I can only view the following: ***@***.*** ***@***.***.

[2022-10-19 19:43] sensurusirupus commented on #964
***@***.*** ***@***.***> can you see this now please?

[2022-10-19 19:43] ErinOCon commented on #844
Thank you for your patience with our review. Unfortunately, we will not be able to proceed with a grant at this time as this program is intended to support projects that are actively using our tech in their prototype. Please feel welcome to reapply as you make additional progress!

[2022-10-19 19:43] #844 closed

[2022-10-19 20:15] ErinOCon commented on #964
I cannot see the email address above.

[2022-10-19 20:16] sensurusirupus commented on #964
mendsalbert at gmail dot come

[2022-10-19 20:19] ErinOCon commented on #1007
Hi @bolajiscott, thank you for your proposal. Is this project related to [this proposal](https://github.com/filecoin-project/devgrants/issues/680)?

[2022-10-19 20:27] tanyaya94 commented on #992
@ErinOCon hi sorry for causing this inconvenience. we were hoping to build on top of this project during the hackathon with the help of this grant. but if we fall out of the eligibility criteria we are happy to close this.

[2022-10-19 20:27] #992 closed

[2022-10-19 20:57] hessio commented on #967
Hi @ErinOCon - I was just wondering if there was an estimated date for when this proposal would be finalized?

[2022-10-19 21:01] Jameel139 commented on #978
Hey @mjohnson518 @orinayodele, managed to sync with the team today to clarify the questions.

Regarding the data storage component, I've updated the milestone to outline how it's more related to integrating additional data graphs to the different types of NFTs (e.g. enable comments, reactions, and verifiable credentials).

As for the Signaling budget, the development time for this milestone is lon

[2022-10-19 21:06] ErinOCon commented on #960
Hi @kasiannapurna22, do you have an update regarding the inquiry above?

[2022-10-19 21:19] ErinOCon commented on #975
Hi @0xtaoshengshi, this item has been closed, but please feel welcome to re-open when there is more information available.

[2022-10-19 21:19] #975 closed

[2022-10-19 21:43] ErinOCon commented on #985
Hi @aahiliscoding, do you have an update available? Please let me know if you have any questions for our team.

[2022-10-19 23:22] KeatonKirk commented on #1043
@ErinOCon Thanks so much for all your work on the grant submissions! Not sure if you've reviewed my application yet, but just wanted to let you know I added a video walkthrough of the demo for your convenience :) Might make reviews a bit quicker.

Please let me know if you have any questions!

[2022-10-19 23:50] orinayodele commented on #868
Hi @holyaustin thanks for getting back to us! This seems quite ambitious, and we would love to award you a microgrant of $5,000 to scope out one of the elements that you have elaborated on above. Could you please fill out this [template](https://github.com/filecoin-project/devgrants/issues/new?assignees=ErinOCon&labels=Micro+Grant&template=microgrant.md&title=%3CYour+Title+Here%3E)?

[2022-10-20 03:41] bolajiscott commented on #1007
Yes
    On Wednesday, October 19, 2022 at 09:19:24 PM GMT+1, ErinOCon ***@***.***> wrote:

Hi @bolajiscott, thank you for your proposal. Is this project related to this proposal?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-20 07:46] PeaceBello commented on #1017
Industrial IIoT devices coupled with various sensors for detecting
greenhouse gas emissions

On Wed, Oct 19, 2022, 20:11 Alan Ransil ***@***.***> wrote:

[2022-10-20 08:41] holyaustin commented on #868
Hi,

How are you doing today? From your reply, are you saying that the microgrant is to be used to kickstart a portion of the project? If that is true, what happens next? As you likely pointed out, it is a huge project and I aim at hiring other developers to help out with the idea because I cannot do it all alone lol. 

Well, let's see how it goes. Thanks as i am already preparing for Labweek 22. 

[2022-10-20 10:36] ErinOCon commented on #996
Hi @mbcse, thank you for your patience with our review. This grant has been approved! Look out for an email to confirm payment details!

[2022-10-20 10:36] #996 closed

[2022-10-20 10:38] ErinOCon commented on #996
Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-10-20 11:06] ErinOCon commented on #531
Hi @IKalonji, thank you for submitting the microgrant report! Can you point to the building progress made during this project in your repo? I do not see new updates since late January of this year.

[2022-10-20 11:33] ErinOCon commented on #1012
Thanks, @SamT6! It looks like this was an oversight on my part. This grant has been approved! Look out for an email to confirm next steps.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-10-20 11:33] #1012 closed

[2022-10-20 12:37] ErinOCon commented on #964
Thank you! Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-10-20 12:37] #964 closed

[2022-10-20 12:49] ErinOCon commented on #657
Thanks, @holyaustin! Can you provide access to the repo for this project?

[2022-10-20 13:00] holyaustin commented on #657
Hi,

The repo has not changed. https://github.com/holyaustin/PensionFi

thanks

Augustine

On Thursday, October 20, 2022 at 01:49:12 PM GMT+1, ErinOCon ***@***.***> wrote:

Thanks, @holyaustin! Can you provide access to the repo for this project?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-20 13:20] ErinOCon commented on #1028
Hi @ankitshubham97, thank you for your proposal! Can you provide access to the repo?

[2022-10-20 13:48] ErinOCon commented on #1029
Hi @ankitshubham97, thank you for your proposal! It looks like the next steps provided match exactly with your [other proposal](https://github.com/filecoin-project/devgrants/issues/1028). Can you provide details that are specific for this project? For example, how will you improve UI/UX? What metrics will be included in the updated dashboard? What testing automations will you build out?

[2022-10-20 14:02] ErinOCon commented on #622
Hi @NftTopBest, I hope you are doing well! Can you provide a final report for this project [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-10-20 14:05] orinayodele commented on #868
Hi @holyaustin we would like you to use the microgrant as a way to test out your idea. We weren't able to fully understand your idea and could not award you the budget that you requested. We think that if you are able to refine your idea and use this microgrant as a first step to this idea and focus on 1 of the 3 elements in your development roadmap, we highly encourage you to reapply for our next

[2022-10-20 14:12] #1037 closed

[2022-10-20 14:16] orinayodele commented on #894
Hi @DarkBlue2021 we are finalizing all the grant decisions next week, and you will get back in touch with you next week

[2022-10-20 14:17] orinayodele commented on #1035
Hi @patedetomates we are finalizing our grant decisions this week, and you will hear back from us by next week

[2022-10-20 14:18] Twinomugisha commented on #1037
Community education .will organising meet ups and event to sensitize the
community  about file coin and how filecoin has the most secure storage
data using lPSF protocol.and will be able to identify potential developers
who will be able tk develop on file coin

On Thu, 20 Oct 2022, 17:12 ErinOCon, ***@***.***> wrote:

[2022-10-20 14:20] holyaustin commented on #868
Hi Orin,

Probably, I might not have presented the idea the way you guys wanted it but if I can know the areas that you guys are not comfortable with, I could refine those areas. 

I am not comfortable reapplying to the microgrant.  If you can spare some time, can we talk about it more in detail in a chat or a call?

thanks.

Augustine

On Thursday, October 20, 2022 at 03:05:36 PM GMT+1, orinayode

[2022-10-20 14:30] ankitshubham97 commented on #1029
Sure @ErinOCon! Let me dive a bit deeper here:

## What is your company mission and vision?

Mission: To bring control of content and monetization back to creators.

Vision: Every creator gets the last penny that they deserve. Every penny that a fan pays goes to their creator. A creator is not bound to push brand sponsorships just for financing. We aim to eliminate large commissions being paid out

[2022-10-20 14:32] ErinOCon commented on #1039
Thank you for your proposal! This grant has been approved. Look out for an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-10-20 14:32] #1039 closed

[2022-10-20 14:37] ankitshubham97 commented on #1029
@ErinOCon Please find the current work at the phase-2 branch: https://github.com/ankitshubham97/fanstop/blob/phase-2

[2022-10-20 14:38] ErinOCon commented on #1053
Hi @nlok5923, thank you for your proposal! I have deleted this issue since it is already captured [here](https://github.com/filecoin-project/devgrants/issues/1052).

[2022-10-20 16:27] nlok5923 commented on #1052
@ErinOCon i had reopen this issue as it is captured.

[2022-10-20 16:46] ErinOCon commented on #1024
Hi @faithful1ofall, thank you for your proposal. Before considering this project for future funding, we would like to see the impact of your [previous project](https://github.com/filecoin-project/devgrants/issues/621) over the next few months. If traction around user engagement can continue to grow over time, we would be happy to re-evaluate!

[2022-10-20 16:46] #1024 closed

[2022-10-20 17:03] ErinOCon commented on #952
Hi @Playmenow, what platform features will you be prioritizing to increase the functionality of the current demo? How will these priorities lead to the onboarding of users and/or content?

[2022-10-20 17:20] orinayodele commented on #868
@holyaustin I can arrange a meeting with you to discuss our decision behind your grant. Please schedule a time [here](https://calendly.com/orinayodele/30min)

[2022-10-20 17:22] orinayodele commented on #1017
Hi @PeaceBello we are happy to award you $1k to start iterating out your idea! You will receive next steps shortly.

[2022-10-20 17:27] orinayodele commented on #1004
Hi @1Busayo we are happy to award you a $5,000 microgrant for this project! We do want to iterate that you must meet with recyclers and document your visits to complete the grants process. The next steps will be communicated to you by next week.

[2022-10-20 17:33] orinayodele commented on #1035
Hi @patedetomates we have a few questions about the due diligence of this project. Could you please set up a meeting with our team lead [here](https://calendly.com/ransil), to understand more about this process?

[2022-10-20 17:39] patedetomates commented on #1035
Yes, absolutely. Thank you.

[2022-10-20 17:53] sylvanzhang opened #1095 "RFP Application: Starboard FVM Explorer"
# RFP Proposal: Starboard FVM Explorer

**Name of Project:** Starboard FVM Explorer

**Link to RFP:**  https://github.com/filecoin-project/devgrants/blob/master/rfps/fvm-block-explorer.md

**RFP Category:** app-dev

**Proposer:** @sylvanzhang

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT and APACHE2 licenses?:** Yes

# Project Description

Starboar

[2022-10-20 18:37] bolajiscott commented on #1007
Hello , just checked up on link referenced to the mail sent earlier , it’s not attached to the proposal .
    On Wednesday, October 19, 2022 at 09:19:24 PM GMT+1, ErinOCon ***@***.***> wrote:

Hi @bolajiscott, thank you for your proposal. Is this project related to this proposal?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.M

[2022-10-20 19:53] ErinOCon commented on #1043
Hi @KeatonKirk, thank you for your proposal! This grant has been approved. Look out for an email to confirm payment information.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-10-20 19:53] #1043 closed

[2022-10-20 20:02] ErinOCon commented on #616
Hi @Shubham0850, I hope you are doing well! Can you provide your final report [here](https://airtable.com/shrrtSlgdVvrPmAvr)? Please let me know if you have any questions!

[2022-10-20 20:09] ErinOCon commented on #1048
Hi @Shubham0850, thank you for your proposal! Are you currently building with IPFS, Filecoin, or closely related tech? If so, can you point to this usage in your code?

[2022-10-20 20:59] ErinOCon commented on #532
Hi @akhileshthite, thank you for the update! Can you submit the final report [here](https://airtable.com/shrrtSlgdVvrPmAvr)? Please let us know if you have any questions!

[2022-10-20 21:01] pattybee commented on #710
Updated grant from finding from the completion of M1:

# Open Grant Proposal: Answers to Further the Movement

**Name of Project:** Nerd Out & FE_vox

**Proposal Category:**  `community`

**Proposer:** @pattybee

**Technical Sponsor:** @doctorrobinson

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT, APACHE2, or GPL licenses?:** Please respond with ei

[2022-10-20 22:41] ErinOCon commented on #1052
Hi @nlok5923, thank you for reopening the issue. This grant has been approved! Look out for an email to confirm payment details.

[2022-10-20 22:41] #1052 closed

[2022-10-21 01:07] thor314 opened #1096 "Uncl🖤ak"
# Open Grant Proposal: `Uncl🖤ak`

**Name of Project:** Uncl🖤ak

**Proposal Category:** `community`
Secondarily `docs`

**Proposer:** Github: https://github.com/thor314; twitter: https://twitter.com/cryptograthor

**(Optional) Technical Sponsor:** `If you have previously discussed this project with a member of the IPFS or Filecoin project teams and they have agreed to be a technical sponsor, includ

[2022-10-21 01:24] ErinOCon commented on #1055
Hi @FazioNico, thank you for your proposal! This grant has been approved. Look out for an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-10-21 01:24] #1055 closed

[2022-10-21 01:56] aronchickay commented on #962
Hi @ErinOCon . We would like to provide all users with a free decentralized markdown editing platform and content sharing platform, looking forward to getting a reply

[2022-10-21 02:06] ErinOCon commented on #1058
Hi @mattxyzeth, thank you for your proposal! This grant has been approved. Look out for an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-10-21 02:57] ErinOCon commented on #1061
Hi @majacholewka, this item has been closed. Please be in touch with any questions regarding the form!

[2022-10-21 02:57] #1061 closed

[2022-10-21 03:02] mattxyzeth commented on #1058
Awesome! Thank you.

[2022-10-21 03:07] Fatman13 opened #1097 "Open grant proposal: `Sealing-as-a-Service`: `venus-cluster`"
# Open Grant Proposal: `Sealing as a Service: venus-cluster`

**Name of Project:** `Sealing as a Service: venus-cluster`

**Proposal Category:** `core-dev`

**Proposer:** `Venus Team`

**(Optional) Technical Sponsor:** `n/a`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT, APACHE2, or GPL licenses?:** Yes

# Project Description

Sealing as a service

[2022-10-21 03:56] Shubham0850 commented on #1048
Hi ErinOCon,

Actually I'm still in college so I've been busy with my college
examination. That's why I didn't get much time to work on it.

But I've been designing a system for integrating FileCoin into CryptoPay,
and it is almost done. Now I'm going to start writing code. As I discussed
in the PR that I'm the only one who is working on this project for now
that's why It is taking little time to

[2022-10-21 07:58] smooth-operator opened #1098 "RFP Proposal: Block Explorer with FVM / FEVM support - DigitalMob"
# RFP Proposal: `Block Explorer with FVM / FEVM support - DigitalMob`

**Name of Project:** Block Explorer with FVM / FEVM support - DigitalMob

**Link to RFP:** [RFP proposal](https://github.com/filecoin-project/devgrants/blob/master/rfps/fvm-block-explorer.md)

**RFP Category:** `app-dev`

**Proposer:** [cezarparaschiv](https://github.com/cezarparaschiv)

**Do you agree to open source all work y

[2022-10-21 09:31] IKalonji commented on #531
Hi @ErinOCon I have the changes locally. I'll commit later this evening. Thanks.

[2022-10-21 11:20] PeaceBello commented on #1017
Thanks so much.

Looking forward to hearing from you soon.

Best Regards,
Peace

On Thu, Oct 20, 2022, 18:22 orinayodele ***@***.***> wrote:

[2022-10-21 12:57] patedetomates commented on #1035
Hi Marc, the earliest time slot that Gilad was able to take is Nov. 3 due to timezone differences. He’s happy to do the call earlier if any more times become available.

[2022-10-21 19:42] ErinOCon commented on #793
Hi @Joachim16, this item has been closed in anticipation of the new proposal previously discussed. Please be in touch with any questions or updates!

[2022-10-21 19:42] #793 closed

[2022-10-22 08:07] hiringblock opened #1099 "Hiring Blocks: Decentralizing Talent and Opportunities"
### 1. What is your project? (max 100 words)
Hiring Blocks is aimed at becoming a one stop solution where talent meets opportunities in a truly decentralized manner. Hiring Blocks is a decentralized job listings and talent marketplace. All the companies or projects can list their jobs here and the candidates can apply from the platform.

We are also providing the chat feature and will build the vi

[2022-10-22 14:13] akhileshthite commented on #532
Sure!

[2022-10-22 17:53] AruSasaki1 opened #1100 "DMTP_Open Grant Application"
# Open Grant Proposal: Proposal of Decentralized Message Transfer Protocol　

**Name of Project: DMTP**

**Proposal Category: app-dev and integration-adoption**

**Proposer: AruSasaki1**

**(Optional) Technical Sponsor:**

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT, APACHE2, or GPL licenses?: Yes**

# Project Description

DMTP is the Decentralized

[2022-10-22 17:54] AruSasaki1 commented on #1100
We are currently developing with EVM and will, of course, begin development as soon as FVM launches and will support

[2022-10-23 01:45] goldzulu opened #1101 "Next Step Microgrant: Tooling for Alexa Voice Developer"
### 1. What is your project? (max 100 words)

Tooling for Alexa Voice Developer

Opens up Web3 to the over 1 million Alexa developers out there by reducing cost of storage and bandwidth.

### 2. Project links

Link to Github repo: https://github.com/goldzulu/helloblockchain
Link to demo or website, if applicable: https://youtu.be/ijlIpv0TwfQ
License: MIT

### 3. How is IPFS, Filecoin, or related t

[2022-10-23 23:07] algocarbonx commented on #771
Hi Team, any updates?

[2022-10-24 09:40] remakeZK opened #1102 "RFP Application: Filscan FVM/FEVM Explorer"
# RFP Proposal: Filscan FVM/FEVM Explorer

**Name of Project**: Filscan Explorer

**Link to RFP**: [fvm-block-explorer.md](https://github.com/filecoin-project/devgrants/blob/master/rfps/fvm-block-explorer.md)

**RFP Category**: app-dev

**Proposer**: Filscan-team

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT and APACHE2 licenses?**: Yes

## Project

[2022-10-24 09:42] FazioNico commented on #1055
Hi, @ErinOCon, Thanks for the approval!

[2022-10-24 11:59] ErinOCon commented on #1006
Hi @gupta977, thank you for your proposal! This grant has been approved. We will be in touch by email to discuss next steps.

[2022-10-24 11:59] #1006 closed

[2022-10-24 12:06] ErinOCon commented on #1025
Hi @qizhou, thank you for your patience as we complete our review. We expect to have an update available shortly!

[2022-10-24 12:12] ErinOCon commented on #1013
Hi @AliTranscrypts, I hope you are doing well! Do you have any concerns or questions regarding the proposed update?

[2022-10-24 12:36] FazioNico opened #1103 "Next Step Microgrant: dDrive - Decentralized Drive System"
### 1. What is your project? (max 100 words)

dDrive is a fully decentralized and open-source Web3 Cloud Storage solution which replace traditional Web2 storage providers having centralized governance, cumbersome infrastructure, inadequate security and privacy measures with users datasets.

dDrive is build on top of IPFS and inherits all the features of Blockchain Technology to emerge as an immuta

[2022-10-24 17:01] ainhoa-a commented on #1089
Hi @BlocksOnAChain , @raulk  @eshon  we have sent you and extended updated proposal by E-mail.

[2022-10-24 17:21] ErinOCon commented on #1056
Hi @PhilippeMts, thank you for your proposal. This grant has been approved! Do you have a preferred email for discussing next steps?

[2022-10-24 18:10] GioiaLele opened #1104 "Building Forest and Bio-Economy based & community-owned ventures in Suriname - To protect our forests"
# Open Grant Proposal: Building Forest and Bio-Economy based, community-owned ventures in Suriname

**Building Forest and Bio-Economy based, community-owned ventures in Suriname**

**Proposal Category:** Green

**Proposer:** Gioia Lele (in the name of John Goedschalk)

**(Optional) Technical Sponsor:** Alan Ransil

**Do you agree to open source all work you do on behalf of this RFP and dual-licens

[2022-10-24 19:45] DarylNoupik commented on #812
Hi @ErinOCon ! Should I make another transfer request ?
Because I haven't received the microgrant on my wallet

[2022-10-24 20:03] vvkio opened #1105 "RFP Application: FVM / FEVM dev explorer"
# RFP Proposal: `FVM / FEVM dev explorer`

**Name of Project:**  `Web3 explorer`

**Link to RFP:** Please link to the RFP that you are submitting a proposal for.

**RFP Category:** `app-dev`, `devtools-libraries`, `technical-design`, `docs`

**Proposer:** `vvkio`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT and APACHE2 licenses?:** YES!

# Project

[2022-10-24 20:37] levlite opened #1106 "RFP Application: Block Explorer with FVM / FEVM support"
# RFP Proposal: `Block Explorer with FVM / FEVM support`

**Name of Project:** Laconic IPLD Block Explorer with FVM/FEVM Support

**Link to RFP:** [Block Explorer with FVM / FEVM Support](https://github.com/filecoin-project/devgrants/blob/master/rfps/fvm-block-explorer.md)

**RFP Category:** `core-dev` `app-dev`

**Proposer:** `levlite`

**Do you agree to open source all work you do on behalf of t

[2022-10-25 02:35] kimuraakiia commented on #951
Hi @ErinOCon . I would like to know how long it will take, is there any new update news? At present, many project notes need to be recorded using DDiary. This is a good opportunity for large-scale users to use IPFS/Filecoin, and it also brings more real data to IPFS/Filecoin.
Looking forward to getting your reply！

[2022-10-25 03:26] elcharitas opened #1107 "Next Step Microgrant: Krypto Koffee"
### 1. What is your project? (max 100 words)

**Krypto Koffee** is a decentralized crowd funding/payment bridge application for web3 content creators. It is a web3fied version of buymeacoffee.com which allows content creators receive support from their audience in cypto.

Krypto Koffee allows **creators**(artistes, designers, developers etc) to grow and get rewarded for their effort in building a

[2022-10-25 07:52] PhilippeMts commented on #1056
Thank you Erin. Contacting you on Slack 👍

[2022-10-25 09:02] mindflyart opened #1108 "Open Grant Proposal: MINDFLY ‘Art + Sport’ Platform"
**MINDFLY ‘Art + Sport’ Platform**

**Proposal Category:**  `integration-adoption`

**Proposer:** `mindflyart`

**Technical Sponsor:** `Jenks Guo  from Filecoin Australia`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT, APACHE2, or GPL licenses?:**  `No`

# Project Description

 MINDFLY.art is the first collaborative platform among art and sport  in

[2022-10-25 10:26] vaibhavmuchandi commented on #1070
@ErinOCon

[2022-10-25 10:50] orinayodele commented on #771
Hi @algocarbonx we have finalized our grant round and are happy to award the team $50,000! Next steps shall be shared with you shortly.

[2022-10-25 12:23] algocarbonx commented on #771
Thank you so much team!!! We are delighted to hear that. Please do reach out to our email: algocarbonx@gmail.com for further communication. Thanks.

[2022-10-25 13:34] 1Busayo commented on #1004
ok thanks, @orinayodele I would be expecting  the next steps

[2022-10-25 17:06] KishiTheMechanic commented on #981
Hello. How's it going?

[2022-10-25 19:21] andogro opened #1109 "RFP Application: Blockscout Block Explorer"
# RFP Proposal: `Blockscout Block Explorer`

**Link to RFP:** [RFP proposal](https://github.com/filecoin-project/devgrants/blob/master/rfps/fvm-block-explorer.md)

**RFP Category:** `app-dev`

**Proposer:** `andogro`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT and APACHE2 licenses?:**  `Yes`

# Project Description

FVM and FEVM explorer support i

[2022-10-26 04:27] Shubham0850 commented on #616
Hi ErinOCon,

Sorry for the late reply. Actually, I was busy building some great
projects. I've filed the form that you've shared with me.

Best,
Shubham Raj

On Fri, Oct 21, 2022 at 1:32 AM ErinOCon ***@***.***> wrote:

[2022-10-26 08:56] ErinOCon commented on #981
Hi @KishiTheMechanic, thank you for checking in! We are currently reviewing this grant and will be in touch with an update soon. In the meantime, can you confirm when the project will be open source? This is a key criteria point for the microgrant program.

[2022-10-26 09:06] ErinOCon commented on #1070
Hi @vaibhavmuchandi, thank you for your proposal! We will be in touch with an update or any questions once our review is complete.

[2022-10-26 09:43] MehighCB commented on #1033
Hey Marc,
Thanks for the remarks again, we will come back with a reduction in scope for
the project.In the meantime, CRED Protocol addresses the problem of carbon
market scalability and incentivization at its core.
In regards to the quality of the carbon credits, we have a couple of ways to
ensure the quality of the carbon credits:1. We do the curation of projects
ourselves, either through the par

[2022-10-26 09:57] BlocksOnAChain commented on #1080
@ainhoa-a do we maybe plan to demo the progress we have for the M2 milestone?

[2022-10-26 14:09] elcharitas commented on #1107
Hello @ErinOCon What's the update on this grant?
What comes next after creating the issue?

[2022-10-26 18:56] Timothy-AthenaProtocol commented on #1050
![Figure 1.1](https://www.notion.so/athenaprotocol/File-Coin-Green-6d1aed7a8ca24786822ba8e233019720#c98642bf87864d3685320d4a66664bf4)

[2022-10-26 19:28] Timothy-AthenaProtocol commented on #1050
Updated Images, Reduced Fundraising Ask, Simplified Deliverables.

[2022-10-27 16:09] rickityjo commented on #1019
Hi @jenks-guo-filecoin - has this grant proposal been ruled out? I still want to apply for this grant, am I still eligible?

[2022-10-27 18:12] rickityjo commented on #1019
Ok, that's no worries

[2022-10-27 18:21] AruSasaki1 commented on #1100
I forgot important thing.
We've already made a node of IPFS!
Messages will save in this node!

http://18.179.49.21:5001/ipfs/bafybeihcyruaeza7uyjd6ugicbcrqumejf6uf353e5etdkhotqffwtguva/#/

[2022-10-28 04:57] Schwartz10 commented on #1093
Update - we added POC support for searching by `f4` addresses, eth hex addresses, and eth tx hashes to the glif explorer:

https://explorer.glif.io/tx/0xbabe0c9aa93ab52696d5a3881ae2b64a3ccab9ede8f0c452c52a133a8865ef3b/?network=wallaby
https://explorer.glif.io/address/0xF1610892C3762C8bBb42b33203e9aD8B37A5c45d/?network=wallaby
https://explorer.glif.io/address/t410f6fqqrewdoywixo2cwmzah2nnrm32lrc5zl

[2022-10-28 07:47] Playmenow commented on #952
What platform features will you be prioritizing to increase the functionality of the current demo? How will the prioritizing lead to the on-boarding of users and/or content?
One of the features to be prioritized will be the artiste and content creators/curators interface. Reasons for this development are:
a.	Seamless streaming and pleasure of listening to songs/playlists by curators and users, to

[2022-10-28 08:36] Udit-Kapoor opened #1111 "Next Step Microgrant: Teztile"
### 1. What is your project? (max 100 words)
TezTile is a decentralized web app where users can play Teztile with others by putting some TEZ / USDT / CTEZ coins at stake and getting rewards for winning. TezTile also allows users to engrave their teztile game memories on blockchain by minting position-based NFTs.

It solves the big problem of trusting a middleman in every betting scenario by creati

[2022-10-28 12:31] drbentonbanner opened #1112 "Open Grant Proposal: Archival Layer Integration for ntent.art with Filecoin"
# Open Grant Proposal: `Archival Layer Integration for ntent.art with Filecoin`

**Name of Project: ntent.art Archival Layer Integration**

**Proposal Category:** `app-dev`

**Proposer:** `@drbentonbanner`

**(Optional) Technical Sponsor:** `@tkkonstantin`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT, APACHE2, or GPL licenses?:** "Yes"

# Project

[2022-10-29 03:08] Shubham0850 commented on #1048
Hi ErinOCon,

I've added the basis ipfs functionality to the CryptoPay. Actually my future plan is to create a dynamic NFT for the merchant where all of their transaction is stored and they will earn interest on that token. All the NFT metadata will be going to stored on ipfs and also the merchant details is also stored on the ipfs to create more trust to the merchant.

Also end user of the applic

[2022-10-30 07:13] itsanishjain commented on #1039
Hey Thanks for the grants

[2022-10-30 20:31] july321 opened #1113 "Next Step Microgrant: <IncollabSpace>"
### 1. What is your project? (max 100 words)

Incollabspace is a decentralized project management platform powered by IPFS. It allows teams of creators, developers and managers to manage their projects, communicate in a simple and minimalistic way.

Incollabspace is a unique idea in the collaboration tooling sphere, because it provides users not just a way to communicate and work with their teamma

[2022-10-31 01:11] KishiTheMechanic commented on #981
Thank you for your reply.
We updated the white paper and website.
https://epics.dev/en/
https://storage.googleapis.com/epics-bucket/WhitePaper/EpicsWhitePaperV1-1-1EN.pdf

It will be open source in 2023.3 - Epics Beta launch
That will be fully dApp and published as open source.

[2022-10-31 10:05] realChainLife commented on #1108
Hi @mindflyart thank you for the proposal. Do you have a prototype link you can share with us, or this a new project proposal?

[2022-10-31 12:20] realChainLife commented on #1100
Hi @AruSasaki1 thank you for your proposal, before we continue with this evaluation could you provide details on the following requests:

- Share an architecture overview of the EVM based message transfer protocol
- What UI/UX features will support non-native web3 users onboarding? Is a mobile app the best first deployment?
- Hosting an IPFS Node is great but I'm curious how much data you intend t

[2022-10-31 13:03] 1Busayo commented on #1004
@orinayodele  This is the link to the microgrant you asked me to create https://github.com/filecoin-project/devgrants/issues/1092

[2022-10-31 13:11] realChainLife commented on #1097
@jennijuju when you have a minute can you review this proposal and share your thoughts. Is this a solution that can be useful on Lotus as well, precisely as an alternative to the [sealing manager process](https://github.com/filecoin-project/lotus/issues/8790) planned for development.

[2022-10-31 13:32] realChainLife commented on #1096
Hi @thor314 thank you for the proposal. While I appreciate mapping a development roadmap for the project might be tough at this stage we absolutely need one to support the estimated completion timeframe and budget requested.

Are you able to consider a phased-development approach based on two areas:

- Phase one: Content creation
- Phase two: Platform development

With this split, we'd be happy to

[2022-10-31 14:53] realChainLife commented on #1079
Hi @bsoldre thank you for the proposal however we will not be funding work as its outlined. A few notes:

- On QuickTemplate: who will be the major uses of the SDKs and APIs at this stage? Assuming that you'd be focusing on user-onboarding post-launch. What would this cost as a stand-alone deliverable?

- On P2P Escrow: The current project details are not enough to help us reach a funding decision

[2022-10-31 14:53] #1079 closed

[2022-10-31 17:22] briannawelsh commented on #987
Hi All, just wondering if there is any update on this? Let me know if you require any additional info from me. Thank you :)

[2022-10-31 17:23] orinayodele commented on #987
Hi! Your grant has been approved and next steps will be communicated to you
shortly!

On Mon, Oct 31, 2022 at 6:22 PM Brianna Welsh ***@***.***>
wrote:

[2022-11-01 00:44] Jameel139 commented on #978
hey @orinayodele please let me know your thoughts on the above, I can propose new times for this week

[2022-11-01 12:43] hiringblock commented on #1099
Hi @ErinOCon please let me know if you need any specific detail or information about the project for the review.

[2022-11-01 15:51] geektheripper opened #1114 "Plan for CID.place extension (for RFP "Geographical and Energy Data for a CID")"
# RFP Proposal: `Geographical and Energy Data for a CID`

**Name of Project:** Plan for CID.place extension

**Link to RFP:** https://app.radius.space/grants/ea81179a-b696-4605-9ff1-69ffc4ec7cb0

**RFP Category:** `app-dev`

**Proposer:** `geektheripper`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT and APACHE2 licenses?:** Yes

## 1. Overview：
Fir

[2022-11-01 19:48] buhbeck opened #1115 "Next Step Microgrant: Navigational Warnings IPFS"
### 1. What is your project? (max 100 words)
This project retrieves and combines data across mulitple api's that cover radio navigational warnings in the Baltic Sea region. It then plots all current warnings on a map.  I think this information could be very valuable to organizations such as government agencies where they have this information in one place.

### 2. Project links

Link to Github rep

[2022-11-01 20:02] elcharitas commented on #1107
Hello @ErinOCon What's the update?

[2022-11-02 02:26] #1114 closed

[2022-11-02 15:09] pravdaweb opened #1116 "Next Step Microgrant: Ukrainska Pravda Project"
### 1. What is your project? (max 100 words)

Objective is to make Ukrainska Pravda Project unblockable and war-news accessible even with minimum and/or unstable bandwidth via IPFS. https://ipfs.io/ipfs/QmVPSSma4pow1JnDeKfmNQSaTc1bfbBXg72JwdrfKYyoZh
The Ukrainska Pravda is a NextJS Ukrainien war-news project, using static updatable server-side generation to deliver RSS news content via blockchain

[2022-11-03 16:23] VenkatTeja opened #1117 "Next Step Microgrant: Vigilance DAO"
### 1. What is your project? (max 100 words)

A lot of non-tech savvy people get scammed through phishing websites, wallet scams, etc. To begin with, idea is to create a protocol that crowdsources and maintains active scammers information on the chain so that other apps/dapps like browsers, DEXs, CEXs, wallets, etc. can use this information to warn their users if they try interaction with scammers

[2022-11-04 11:51] KwikTrust opened #1118 "KwikTrust"
Q.1 What is your project’s name?
KwikTrust

 Q.2 What is your email address?
yasir@kwiktrust.com

Q.3 Your Name?
Yasir Qayam

Q.4 Your Company’s Name?
Kwikt Limited

Q.5 Your website?
www.kwiktrust.com

Q.6 Were you referred to our Grant Program?
 - Online
 -
Q.7 Project Description (One Sentence)?
Ans: KwikTrust is a digital signature and e-validation solution that  combines digital signatures wi

[2022-11-04 13:56] briannawelsh commented on #987
Thank you 😊. Haven’t seen anything come through just yet though, any updates on your end?

From: orinayodele ***@***.***>
Date: Monday, October 31, 2022 at 10:23 AM
To: filecoin-project/devgrants ***@***.***>
Cc: Brianna Welsh ***@***.***>, Mention ***@***.***>
Subject: Re: [filecoin-project/devgrants] Green Grant RFP Application - Reneum (Issue #987)
Hi! Your grant has been approved and next step

[2022-11-04 14:03] ErinOCon commented on #960
Hi @kasiannapurna22, this item has been closed. Please feel welcome to reopen the item to discuss further!

[2022-11-04 14:03] #960 closed

[2022-11-04 14:08] ErinOCon commented on #968
Hi @affix-io, this item has been closed. Please feel welcome to reopen the item to discuss further!

[2022-11-04 14:08] #968 closed

[2022-11-04 14:11] ErinOCon commented on #971
Hi @daniel-brave, this item has been closed. Please feel welcome to reopen to discuss further!

[2022-11-04 14:11] #971 closed

[2022-11-04 14:15] orinayodele commented on #978
Hi @Jameel139 we've had time to look through your proposal and think it's a great idea, however this grants round was specifically focused on Refi focused projects and DoinGud is a bit out of that scope and can not award you a grant at this time. We encourage you to connect with the[ HyperCerts](https://hypercerts.xyz/) team, who are building similar protocols.

[2022-11-04 14:15] orinayodele commented on #987
Hi @briannawelsh you should receive a contract by the end of next week!

[2022-11-04 14:29] ErinOCon commented on #984
Hi @acharya-academy, I hope you are doing well! Can you speak to how IPFS, FIlecoin, or related tech are incorporated in your code?

[2022-11-04 14:45] lakshh07 opened #1119 "Next Step Microgrant: SolSnipp"
### 1. What is your project? (max 100 words)

Web3-Native solidity snippets for the world's best communities.

SolSnipp is a decentralized vscode extension, a new way of community-driven snippets for solidity. Anyone can request the smart contract snippet to be added to the extension.

There are many categories like Proxy, Interface, Boilerplate, NFTs, Token and many more.
All the data are stored

[2022-11-04 14:46] ErinOCon commented on #1007
Hi @bolajiscott, thank you for your response. Since much of the language in this application and in your code are similar, can you briefly describe the relationship between the proposals?

[2022-11-04 16:30] ErinOCon commented on #622
Hi @NftTopBest, can the report be provided by next week?

[2022-11-04 16:30] ErinOCon commented on #737
Hi @NftTopBest, can the report be provided by next week?

[2022-11-04 16:32] ErinOCon commented on #1048
Thanks, @Shubham0850! I will circle back with an update!

[2022-11-05 03:51] Shubham0850 commented on #1048
Thanks for making it clear.

Looking forward to hear from you.

[2022-11-05 13:55] farisei77 opened #1120 "Next Step Microgrant: <Your Title Here>"
### 1. What is your project? (max 100 words)

### 2. Project links

Link to Github repo:
Link to demo or website, if applicable:
License:

### 3. How is IPFS, Filecoin, or related technology used in this project? (max 100 words)

### 4. How will you improve your project with this grant? What steps will you take to meet this objective? (max 200 words)

### 5. Do you agree to share grant reports upo

[2022-11-06 06:31] FroghubMan opened #1121 "RFP Proposal: Tool for applying test vectors from Ethereum on FEVM"
# RFP Proposal: `Tool for applying test vectors from Ethereum on FEVM`

**Name of Project:** Tool for applying test vectors from Ethereum on FEVM

**Link to RFP:** [fvm-ethereum-test-vectors](https://github.com/filecoin-project/devgrants/blob/master/rfps/fvm-ethereum-test-vectors.md)

**RFP Category:** `devtools-libraries`

**Proposer:** `FroghubMan`

**Do you agree to open source all work you do

[2022-11-06 13:21] brucexu-eth opened #1122 "Next Step Microgrant: ImageUploader3 Solution"
### 1. What is your project? (max 100 words)

This is a COMPLETE image upload solution for integrating IPFS with Web Applications. It consists of four core components:

- ImageUploader3: choose images and upload them to IPFS by using SDK Connectors or BackEnd API
- Img3: find the fastest IPFS Gateway for the viewer and show the images
- SDK Connector: common IPFS service providers' SDK adaptor
- B

[2022-11-06 13:50] brucexu-eth commented on #1122
Btw, we are an R&D-focused DAO in Web3, for more details about this proposal, please check https://forum.lxdao.io/t/imageuploader-react-component/181/9?u=bruce_lxdao

And here is our official GitHub: https://github.com/lxdao-official. We have enough tech experience to get this done. Thanks.

[2022-11-06 14:39] NftTopBest commented on #622
oh, I am afraid I still need more time, will be about two weeks. Will report before 2022-11-21.

[2022-11-06 14:39] NftTopBest commented on #737
oh, I am afraid I still need more time, will be about two weeks. Will report before 2022-11-21.

[2022-11-06 16:01] doctorrobinson commented on #710
Hey Erin - just doing the follow up here!

On Thu, Oct 20, 2022 at 11:01 PM Pattybee ***@***.***> wrote:

[2022-11-06 21:05] pattybee commented on #710
Thanks Zak.

Might have to try the parachute method we were talking about lol.

On Mon, 7 Nov 2022 at 3:01 am, Zak ***@***.***> wrote:

--

*Patrick Beggs*Director
+61413427971
PurProduction.org <http://purproduction.org/>
Linkedin.com/in/patrick-beggs-purproduction
<http://Linkedin.com/in/patrick-beggs-purproduction>

[2022-11-06 23:00] bolajiscott commented on #1007
Hi, My application is social media focused on data storage to allow crypto users perform a seamless transactions without a 3rd party. relationship is based on data storage usability assigned to each social media handlers on the crypto network.    On Friday, November 4, 2022 at 03:46:58 PM GMT+1, ErinOCon ***@***.***> wrote:

Hi @bolajiscott, thank you for your response. Since much of the language

[2022-11-07 07:27] elcharitas commented on #1107
Hello @ErinOCon Whats the update on this application

[2022-11-07 10:25] web3andrew opened #1123 "Web3Box Open Grant Application"
# Open Grant Proposal: `Web3Box`

**Name of Project:** Web3Box

**Proposal Category:** `app-dev`

**Proposer:** `web3andrew`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT, APACHE2, or GPL licenses?:**  "Yes"

# Project Description

Web3Box is committed to creating a Web3 UGA platform with a secure environment worldwide, which is supported by the IP

[2022-11-07 13:59] gundeep commented on #1086
Hello Team Filecoin,

How often are the Microgrant proposals reviewed?

Best,
Gundeep S

[2022-11-07 15:20] jenks-guo-filecoin commented on #1086
Hi @gundeep, Microgrant applications are reviewed weekly. However we might not have capacity to be able to complete the queue every week. Rest assured, your application will looked at and responded in time.

[2022-11-07 17:14] cdata commented on #668
Noting for posterity that we have completed two major milestones as outlined in the grant proposal:

 - [#9](https://github.com/cdata/rs-ucan/issues/9) - The core library has been enhanced to resolve UCAN proofs from CIDs (via work in [#28](https://github.com/ucan-wg/rs-ucan/pull/28))
 - [#15](https://github.com/cdata/rs-ucan/issues/15) - The UCAN Working Group has accepted our project as the cano

[2022-11-07 18:34] drbentonbanner commented on #1112
Hey, @realChainLife, we submitted this during IPFS Lab in Lisbon (which was awesome btw), so we are awaiting feedback but also aware of everything going on on your side. Thank you!

[2022-11-07 21:04] nattakz opened #1124 "Next Step Microgrant: IPFS-MEDICAL-CERTIFICATES"
### 1. What is your project?
In some countries, it is common practice for doctors to issue a certificate to validate a worker's absence from work or to certify that a patient can perform physical activities. There, the falsification of these documents is a serious problem. This Dapp allows doctors to securely issue medical certificates. As the documents are stored in the IPFS and the corresponding

[2022-11-07 21:26] nattakz opened #1125 "Next Step Microgrant: IPFS-SUPPLY-CHAIN-ASSURANCE"
### 1. What is your project? (max 100 words)
 The project consists of a system to ensure that the goods sent by the supplier to a client, through a
 carrier, arrives in the same conditions in which they were packed. At the moment of introducing the
 goods into the transport, a photo of it is taken. This picture  is digitally signed by the carrier. The
 obtained hash is stored in a smart contract (

[2022-11-08 15:52] gundeep commented on #1086
Thanks, @jenks-guo-filecoin will keep an eye on it.

[2022-11-08 16:08] azomland opened #1126 "MetaID for Azomland"
### What is your project (100 words maximum)?

MetaID is a product of Azomland that will allow people to have a distributed and hierarchical system of information on FPS, with association to a wallet on the Polygon network.
The product will allow users to generate a quick registration on Azomland and other compatible platforms.
 ### 2. Project links

Link to the Github repository:
Link to demo or

[2022-11-08 19:43] ErinOCon commented on #710
Thanks, @doctorrobinson! Adding @realChainLife to review the milestone details.

[2022-11-08 21:17] #967 closed

[2022-11-08 21:30] ErinOCon commented on #981
Hi @KishiTheMechanic, thank you for the provided update. Once the work for your project is actively open source, we would be glad to consider this proposal for a grant!

[2022-11-08 21:30] #981 closed

[2022-11-08 21:57] xfiniteio commented on #1036
Hello @jenks-guo-filecoin, following up on this. Thanks Jenks.

[2022-11-09 09:55] ayushgupta0110 opened #1127 "Next Step Microgrant: Podmatic"
### 1. What is your project? (max 100 words)
Podmatic is an NFT marketplace for podcasters and fans. We aim to uplift podcasters by enabling them to create NFTs of their podcasts and provide them with the royalties and recognition that they deserve.

The royalty distribution in its present form makes it difficult to keep the fair share of revenue podcasters generate on existing platforms. Moreover

[2022-11-09 10:48] parthbond180 commented on #631
We recently launched the outcome of M1 of this grant - our Encloud Encryption and Storage CLI

https://github.com/encloud-tech/encloud

[2022-11-09 11:06] yubygetaverse opened #1128 "Getaverse"
# Open Grant Proposal: Getaverse

**Name of Project: Getaverse**

**Proposal Category:**  `metaverse`

**Proposer:** `yubygetaverse`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT, APACHE2, or GPL licenses?:**

Yes

# Project Description

### What is Getaverse

Getaverse is a web3 DID platform deployed on several public chains. We are aiming to crea

[2022-11-09 12:56] GioiaLulu opened #1129 "Help Suriname fight deforestation by opening NTFP bioeconomy facilities in collaboration with the local communities"
# Open Grant Proposal: `Help Suriname fight deforestation by opening NTFP bioeconomy facilities in collaboration with the local communities`

**Help Suriname fight deforestation by opening NTFP bioeconomy facilities in collaboration with the local communities
:**

**Proposal Category:** `green`

**Proposer:** Gioia Lulu (in the name of John Goedschalk)

**(Optional) Technical Sponsor:** `Alan Rans

[2022-11-09 23:46] DarkBlue2021 commented on #894
Hi Filecoin team, it has certainly been a pleasure to explore collaboration opportunities with you all in the past months. We logged the grant request on 19 August 2022, and have been waiting for further responses since then. Our mission is to develop technologies that can be used in the real-world, and to deliver impact as much as we can. Everyday in the startup world counts. If Filecoin is not m

[2022-11-10 02:42] AruSasaki1 commented on #1100
Hi @realChainLife thank you for your replay!
Sorry for the late reply.
I was at IPFS Camp, Fil Lisbon and ETH SF and just got back home yesterday!
These are our answers.

- Share an architecture overview of the EVM based message transfer protocol
First of all, we are developing an account linkage with the EVM wallet address.
This is the same design as a typical meta-mask sign-in, etc.
And since th

[2022-11-10 06:26] mindflyart commented on #1108
Dear Sonia John:

How are you? I'm really sorry for my late reply, coz we can't find the
email in spam folder.

Our website is link is www.mindfly.art , and the linktree link is
https://linktr.ee/mindfly.art.

We aim to build up biggest Art+Sport Dao with our community members, and
will apply filecoin in our upcoming IPFS, whatever in our NFT onchain
storage, metaverse or for our artists and athle

[2022-11-10 08:10] SXXFuture-Xindy commented on #1064
Hi @realChainLife ,
Feel free to check it! Thank you!

[2022-11-10 14:03] gitsrc opened #1130 "Next Step Microgrant :CloudSlit builds on FVM"
### 1. What is your project? (max 100 words)

CloudSlit aims to build a decentralized web3 privacy data retrieval security network system around the world, and help users recapture privacy security information eroded by giants under web2, so that the current global hot zero-trust security network technology combined with web3 can better help users master their own security privacy data and give us

[2022-11-10 16:05] orinayodele commented on #894
Hi @DarkBlue2021!

Sorry for the delay in sending over the contracts, we were finalizing a few things in the past few weeks. You should receive your contract by end of this week or early next week.

[2022-11-10 16:41] ardaerturk opened #1131 "Open Grant Application - DAOhub"
**Open Grant Proposal:** DAOhub

**Proposal Category:** `app-dev`

**Proposer:** `@ardaerturk`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT, APACHE2, or GPL licenses?:** Please respond with either "Yes"

# Project Description
DAOhub is a DAO marketplace to make DAO discovery, voting, and portfolio management easier in one central platform.

https:

[2022-11-10 20:33] futrnetwork commented on #1036
Hello @jenks-guo-filecoin , let us know if you need anything else from our side or what are the next steps?

[2022-11-11 05:49] VenkatTeja commented on #1117
Hey @ErinOCon ser,
Hope you will get a chance to look at this project sometime. If needed, we can setup a demo call as well.

[2022-11-11 06:54] hiringblock commented on #1099
Hi @ErinOCon is there any update on the application?

[2022-11-11 11:59] realChainLife commented on #1123
Hi @web3andrew thank you for your proposal. We'd like to fund the work outlined in milestone one above. Look out for an email with detailed next steps!

[2022-11-11 11:59] #1123 closed

[2022-11-11 12:33] FroghubMan commented on #1121
https://github.com/froghub-io/fevm-test-vectors/blob/main/corpus/example/0x406076cf80ee9bb77393ac5a07dd5611bce80b80b95b78bc75be93869bb7dac7.json

[2022-11-11 12:35] realChainLife commented on #1112
Hi @drbentonbanner thanks for your proposal, and your patience with our review. We'd like to fund the work outlined in this scope. Look out for an email with detailed next steps.

[2022-11-11 12:35] #1112 closed

[2022-11-11 12:42] realChainLife commented on #1013
Hi @AliTranscrypts let us know if you need any assistance on the proposal rework. Otherwise we're looking forward to your next update.

[2022-11-11 12:43] dizzyexis opened #1132 "Next Step Microgrant: StableBridge $SBRB"
### 1. What is your project? (max 100 words)
StableBridge uses LayerZero solution that embraces multiple routings to safely transfer user assets without the need to lock for a huge time or rely on liquidity in both sides. It's native stablecoin $SBRB is pegged to the Brazilian Reais, and can be purchased using the country payment system PIX, later being transfered in the desired wallet and network

[2022-11-11 12:56] drbentonbanner commented on #1112
@realChainLife great to hear! We are ready to go. I will keep an eye out for the email and the next steps.

[2022-11-11 13:51] realChainLife commented on #894
Hi @DarkBlue2021 Thanks for your patience here. We've shared an email with detailed next steps, we look forward to supporting you through the kick-off process.

[2022-11-11 13:51] #894 closed

[2022-11-11 14:12] #1080 closed

[2022-11-11 16:20] briannawelsh commented on #987
﻿Hey again - just following up on the next steps here when you can 😊

From: orinayodele ***@***.***>
Date: Friday, November 4, 2022 at 7:16 AM
To: filecoin-project/devgrants ***@***.***>
Cc: Brianna Welsh ***@***.***>, Mention ***@***.***>
Subject: Re: [filecoin-project/devgrants] Green Grant RFP Application - Reneum (Issue #987)

Hi @briannawelsh<https://gbr01.safelinks.protection.outlook.com/?ur

[2022-11-11 16:34] realChainLife commented on #1062
Hi @de-plan thank you for this proposal. We would like to fund the work outlined in this scope. Look out for an email with detailed next steps.

[2022-11-11 16:34] #1062 closed

[2022-11-11 16:58] Agin-DropDisco commented on #1088
Hello @realChainLife after zonulet was totally  integrated into Filecoin we have more than 500 unique users who have used zonulet in the last seven days
<p align="center">
<img src="https://raw.githubusercontent.com/zonulet-io/Zonulet-Assets/main/dappradar-stats.png" />
</p>

And now we are waiting for your feedback to continue and develop this project. Thank you!

[2022-11-11 17:21] realChainLife commented on #1044
Hi @kenGIS thank you for your proposal. We would like to fund the work outlined here. Look out for an email with detailed next steps.

[2022-11-11 17:21] #1044 closed

[2022-11-11 17:46] realChainLife commented on #987
Hi @briannawelsh we appreciate your patience with our approval process. We've sent you an email with detailed next steps.

[2022-11-11 17:46] #987 closed

[2022-11-11 18:49] realChainLife commented on #969
Hi @rafaelkaufmann thank you for the proposal. We would like to fund the work  outlined here. Look out for an email with detailed next steps.

[2022-11-11 18:49] #969 closed

[2022-11-11 19:32] realChainLife commented on #1065
Hi @lk2684753 thank you for this proposal, however we will not fund the work outlined here at this time. We'd be happy to consider future proposals from your team.

[2022-11-11 19:32] #1065 closed

[2022-11-11 21:29] jimpick opened #1133 "Localnet.Farm"
### 1. What is your project? (max 100 words)

Hosted Filecoin Lotus "[localnets](https://lotus.filecoin.io/lotus/developers/local-network/)" in the cloud for developers and researchers.

### 2. Project links

Link to Github repo: https://github.com/jimpick/localnet-farm
Link to demo or website, if applicable: https://localnet.farm/ (coming soon)

License:

MIT+Apache. Data is CC-BY-SA 3.0.

### 3.

[2022-11-11 22:12] TheDecentralizedProducer opened #1134 "Next Step Microgrant: Greenlit Protocol"
### 1. What is your project? (max 100 words)

Greenlit Protocol  streamlines licesning & distrubution in the media & entertainment industry for creators & independent studios. We leverage IPFS to store backend data  for platform and as well interested in offering a Media Asset Management feature that allows decentralized storage of a projects IP that owners can authenticate access to end users.

#

[2022-11-12 07:04] Shalupanwar06 opened #1135 "Next Step Microgrant: TRIKL - Read, Write & Earn Rewards"
### 1. What is your project? (max 100 words)
600M+ bloggers globally struggle with a lack of data ownership & low engagement. We’re building a mobile-first dApp that empowers bloggers with data ownership by hosting their data using [Web3.storage](http://web3.storage/). We're also creating a sustainable Engage & Earn rewards engine that works with every blockchain without needing a native platform

[2022-11-12 21:47] blocknomad opened #1136 "Next Step Microgrant: Fractal Flows - Putting scientific knowledge at the service of society"
### 1. What is your project? (max 100 words)

Fractal Flows is a Decentralized Science application for aggregation and curation of underlying evidences, which we call knowledge bits, and emergence of consensus around scientific claims via human-AI interactions. Anyone can contribute aggregating knowledge bits, and anyone can apply to become an official validator and curate contributions via an ope

[2022-11-13 03:12] web3andrew commented on #1123
@realChainLife  Thanks Filecoin & Sonia, we will pay attention to the next detailed steps. Thank you for your recognition and trust in Web3Box.

[2022-11-13 03:14] web3andrew commented on #1123
Thanks Filecoin & Sonia, we will pay attention to the next detailed steps. Thank you for your recognition and trust in Web3Box.

---- On Fri, 11 Nov 2022 19:59:56 +0800 Sonia John ***@***.***> wrote ---

Hi https://github.com/web3andrew thank you for your proposal. We'd like to fund the work outlined in milestone one above. Look out for an email with detailed next steps!

—
Reply to this email dir

[2022-11-13 11:40] ChansonStudio opened #1137 "Chanson Studio – FileCoin Powered Music NFT DApp - Further Milestone Development"
# Open Grant Proposal: `Chanson Studio – FileCoin Powered Music NFT DApp - Further Milestone Development`

**Name of Project: Chanson Studio

**Proposal Category:** `app-dev`

**Proposer:** `ChansonStudio`

**(Optional) Technical Sponsor:** `jenks@fil.org`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT and APACHE2 licenses?:** `Yes`

# Project Descr

[2022-11-14 00:20] ChansonStudio commented on #1137
Our team has communicated to Technical Sponsor jenks@fil.org and he has recommended of adding these great features into the products.

[2022-11-14 03:32] jenks-guo-filecoin commented on #1136
Hi @blocknomad , would you be able to provide examples of the data that is being stored on Web3.storage. Are these data public data or encrypted and access only by the research financiers?

[2022-11-14 03:32] jenks-guo-filecoin commented on #1136
It would be good to understand the flow of the information and what is written on IPFS. :-) Any architecture diagram will also help.

[2022-11-14 03:46] jenks-guo-filecoin commented on #1134
Hi @TheDecentralizedProducer, could you please help me understand what is exactly stored in IPFS and via what services/method/nodes do you plan to store this for persistency of the media files?

I would like to also understand in more details the access control part. How is it provided and how does it exactly protect the media files that is stored publicly on IPFS?

Could you also explain the flow

[2022-11-14 03:49] jenks-guo-filecoin commented on #1123
Hi @web3andrew , congrats on your successful grant appeal. Is it possible to get a list of all data sources of your dashboards? I am curious of the data sources, where they are from, and how often do you obtain the information. :-)

[2022-11-14 03:58] web3andrew commented on #1123
These parts' details are still under talking, our dev will update these info asap. Once ready, I will sync to you.

[2022-11-14 09:25] realChainLife commented on #1004
Thanks @1Busayo closing this proposal so we can process as microgrant!

[2022-11-14 09:25] #1004 closed

[2022-11-14 09:26] #978 closed

[2022-11-14 09:27] 1Busayo commented on #1004
@realChainLife  thanks this is the link to the micro grant

[2022-11-14 11:33] mjohnson518 commented on #1033
Hey @MehighCB checking in to see if you're still interested in revising this proposal? We're interested in this work and would like for you to focus on M1 & M2. The deliverables & ask for M1 look good. For M2, we think the ask should be reduced to 25k.

Let me know your thoughts!

[2022-11-14 14:17] Shubham0850 commented on #1048
Hi @ErinOCon , any update on this ?

[2022-11-14 14:42] BlocksOnAChain commented on #1133
@realChainLife @ErinOCon  - I think this is needed by the FVM team + external devs that will use the local net. I approve this micro-grant for Jim and his work.
Let me know about next steps.

[2022-11-14 16:14] Soptq commented on #1005
Update:
- Last 4 weeks:
  - Rethinking and designing the conflict resolving algorithm and engine. It has to be efficient and lazy. For now I am still thinking about it all the time, hopefully we can come up with a efficient resolver for using on IPFS.
  - Rewriting the library to Typescript, with comments and type annotations. During rewriting, the structure of the library will be improved as well

[2022-11-14 17:14] jennijuju commented on #1097
@Fatman13 can you confirm wether this proposal is to:
-  enable SaaS API interface in venus cluster
- or make a SaaS a builtin feature/service within Venus-cluster, like the Venus node service
- or both?

[2022-11-14 17:23] ErinOCon commented on #1064
Hi @sx-star, thank you for this proposal! Do you have a plan for building traction around usage? Please describe the process for initial user onboarding.

[2022-11-14 20:12] KishiTheMechanic commented on #981
I see thank you!
I'll make another issue when that is open-sourced.

[2022-11-14 21:16] vaibhavmuchandi commented on #1070
@ErinOCon any updates on this one or should I close the issue ?

[2022-11-14 21:53] flyworker opened #1138 "Open Grant Application - Lagrange DAO"
# Open Grant Proposal: `Lagrange DAO`

**Name of Project:** Lagrange DAO

**Proposal Category:** `app-dev`

**Proposer:** `flywork`

**(Optional) Technical Sponsor:** `bacalhau`，`filswan`,`fevm`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT, APACHE2, or GPL
licenses?:**

Yes

# Project Description

![img_2](https://user-images.githubusercontent.com

[2022-11-15 01:53] SXXFuture-Xindy commented on #1064
Thank you，we received it.

ErinOCon ***@***.***> 于2022年11月15日周二 01:23写道：

[2022-11-15 01:59] mindflyart commented on #1108
HI Sonia John:

Thanks for your inquiry !

We will put it online very soon, would you please contact us at your
convenience?

Thanks a lot,

Johnson Young
Co-founder
MINDFLY.art
MINDFLY.Dao
61-0403648068

On Mon, Oct 31, 2022 at 8:05 PM Sonia John ***@***.***> wrote:

[2022-11-15 03:07] blocknomad commented on #1136
Hi @jenks-guo-filecoin

Please have a look at some examples of what could be knowledge bits stored on web3.storage: https://drive.google.com/drive/folders/1S0-LywB1QLUKVmERF1N7cdzgLAhBo1ZP?usp=share_link

Any contributions such as knowledge bits, opinions and arguments added to a claim ([here you can see some](https://fractalflows.com/claim/proof-of-stake-is-legacy-tech-its-what-corporations-and-b

[2022-11-15 03:23] Fatman13 commented on #1097
Hello, @jennijuju! Thanks for asking! This proposal enables any potential SaaS provider to use venus-cluster as its platform for its SaaS service to SPs.

[2022-11-15 03:48] web3andrew commented on #1123
@jenks-guo-filecoin  For FIL on-chain data, we will get this info from the Filecoin mainnet in real time. And for the token price data source, we will get the data from [chainlink](https://chain.link/) every 5 mins or 10mins. All data sources are requested in a decentralized way.

[2022-11-15 05:23] kelsien opened #1139 "Open Grant Proposal: Part 2: `Improving Socio-technical Resilience in IPFS'"
# Open Grant Proposal: Part 2: `Improving Socio-technical Resilience in IPFS'

Proposal Category: 'research' / devtools-libraries

Proposer: `kelsien'

Technical Sponsor: `Dietrich Ayala (PL)'

Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT and APACHE2 licenses?: 'Yes'

# Research Phase 2 Project Description &  Research Problem: Data Governance Pattern

[2022-11-15 06:37] okhaimie-dev opened #1140 "Next Step Microgrant: Web3 Filecoin/IPFS CMS Package"
### 1. What is your project? (max 100 words)

This is a web3 content management system which stores its media files such as posts, thumbnails using Web3.storage and banks on polygon as the blockchain layer. We then expect CMS users to leverage the Graph protocol to query the content.

### 2. Project links

Link to Github repo:[ https://github.com/Jarvis-Nu/web3-cms](https://github.com/Jarvis-Nu/we

[2022-11-15 09:03] Udit-Kapoor commented on #1111
Hey @ErinOCon , are the micro grant reviews paused? Or is there an eta regarding the review work
Warm Regards
Udit Kapoor

[2022-11-15 15:36] raulk commented on #1105
@realChainLife this is approved on the technical front.

[2022-11-15 16:13] lisztcoin commented on #846
My wallet received grant last week. Will start to work. Thanks!

[2022-11-16 05:57] jenks-guo-filecoin commented on #1111
Hey @Udit-Kapoor, micro grant reviews are not paused. Please understand that we have a large backlog and grants team will get back to you as soon as possible. 😃

[2022-11-16 06:00] Udit-Kapoor commented on #1111
Hey @jenks-guo-filecoin , Gotcha
Looking forward for the review whenever the backlog catches up✌️

[2022-11-16 09:13] PlantBoiGit commented on #690
Hey @ErinOCon hope you're well! Just checking you've received my recent email?

[2022-11-16 13:02] IntergalacticDotDev opened #1141 "Next Step Microgrant: ProtoDapp"
### 1. What is your project? (max 100 words)
Installable Protodapp with NextGen Storage via IPFS & w3ui with web3.storage service for storing content addressed IPLD data on IPFS and Filecoin.

### 2. Project links

Link to Github repo: https://github.com/IntergalacticDotDev/protodapp
Link to demo or website, if applicable: https://protodapp.dev/
License: MIT

### 3. How is IPFS, Filecoin, or relat

[2022-11-16 14:03] ErinOCon commented on #990
Hi @tech-writeup, thank you for your response and for your patience! This microgrant has been approved. We will send an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-16 14:03] #990 closed

[2022-11-16 14:21] ErinOCon commented on #984
Hi @acharya-academy, I have closed this item for the time being, but please feel welcome to reopen the item once your project is incorporating IPFS, Filecoin, or closely related tech!

[2022-11-16 14:21] #984 closed

[2022-11-16 15:14] ardaerturk commented on #1131
**Traction Update:**

It's been almost a month since we released our beta version and received over 30K+ calls on our Infura node with zero marketing dollars!

![Screen Shot 2022-11-08 at 4 18 48 PM](https://user-images.githubusercontent.com/21202887/202219065-a649391f-9271-4365-b13d-832e032c9c62.png)

[2022-11-16 15:26] jozefpinter opened #1142 "Next Step Microgrant: <Your Title Here>"
### 1. What is your project? (max 100 words)

DeCommerce - Decentralized ecommerce platform for Web3. Built for IPFS. A software platform where users can trade goods or services directly with one another - without middlemen. Our goal is to facilitate all Buy/Sell/Subscriptions/Bookings/Reservations/Membership transactions. There is no longer a need for a broker, and buyers and sellers can conduct

[2022-11-16 15:31] ErinOCon commented on #1020
Hi @ryanshahine, thank you for your patience with our review! We will not be moving forward with this second award at this time, but are very pleased to see your work progress through PL's accelerator program. Happy building!

[2022-11-16 15:31] #1020 closed

[2022-11-17 02:06] web3andrew commented on #1123
@realChainLife Hi, Sonia, I have sent the OSA confirming email to you, maybe it's in your spam or trash folder, you could check it again. And I also have submitted the info that you guys request. More, I forwarded this email to Erin, you could let Erin know that, perhaps, my email is in his spam or trash folder too.
![image](https://user-images.githubusercontent.com/117150831/202336078-b6a225a7-8e

[2022-11-17 07:12] hiringblock commented on #1099
Hi @ErinOCon please let me know if there's any update regarding the application.

[2022-11-17 07:50] sxxfuture-official commented on #1064
We will use the following marketing tools to launch our program and reach users (if we misunderstood the question. Feel free to correct us)

Offline marketing:

Actively visit enterprise customers, tap storage needs and refine industry-level application opportunities.

Organize Orbit and national tour events regularly, bring together entrepreneurs, industry experts and investors, and carry out web

[2022-11-17 08:33] NftTopBest commented on #622
Hi @ErinOCon , I just submit the final report via the google link. pls check. thx !

[2022-11-17 12:53] petragor opened #1143 "Digital Persona"
### 1. What is your project? (max 100 words)
An avatar creator that will include accounts and storage for each personal avatar. Based on their inputs, the users will be able to create 3D avatars and gain access to their personalities. Finally, they will be able to mint their avatars or export-import them, connecting them to different clients.

### 2. Project links
Not yet.

Link to Github repo: ht

[2022-11-17 14:37] ErinOCon commented on #616
Thanks, @Shubham0850! We have received your report. Can you identify the code that was used during the time of the microgrant? I haven't uncovered it in the original [repo](https://github.com/Shubham0850/m-tribe) provided.

[2022-11-17 14:58] ErinOCon commented on #1048
Hi @Shubham0850, thanks for checking in! Can you provide more detail on what you hope to accomplish over the next three months? For example, what functionalities or features will you work on? I also recently sent you a question regarding your final report for [m-tribe](https://github.com/filecoin-project/devgrants/issues/616). Please let me know if you have any questions.

[2022-11-17 15:13] #1027 closed

[2022-11-17 15:14] ErinOCon commented on #1027
Hi @harryisgood, can you provide a preferred email address to confirm payment details?

[2022-11-17 15:36] ErinOCon commented on #1007
Hi @bolajiscott, we will not proceed with a grant for this project at this time. Thank you for your interest in our grants program.

[2022-11-17 15:36] #1007 closed

[2022-11-17 15:38] ErinOCon commented on #985
Hi @aahiliscoding, thank you for your patience and for the additional information. This microgrant has been approved! We will send an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-17 15:38] #985 closed

[2022-11-17 17:02] #1054 closed, assigned to FF-FOIT

[2022-11-17 17:19] dmessagedev commented on #1054
Okidoki, I'll clear out this repo as I have much improved one and will work further on that. Thanks.

[2022-11-17 19:26] ErinOCon commented on #962
Hi @aronchickay, we would like to see more building progress before considering this project for a grant. For next steps, I would recommend participating in a hackathon! If more information would be helpful, please do not hesitate to be in touch!

[2022-11-17 19:26] #962 closed

[2022-11-17 19:51] shivani3000 commented on #867
@ErinOCon, we had a call this morning with Anshuman and Zak. Deliverable 1 is now complete. Let us know what documentation you require to finalize this step and move on to the next. Thank you so much!

[2022-11-18 03:19] raoramesh commented on #1041
Hi
      Great questions ! Love it!! Sharing with the rest of team members and will get back to you in a few days. Looking forward to the conversation
R

[2022-11-18 10:52] ErinOCon commented on #1066
This microgrant has been approved! We will send an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-18 10:52] #1066 closed

[2022-11-18 10:59] ErinOCon commented on #1069
Hi @afk1997, thank you for your proposal! Can you provide a repo link to the code for this project? Also, is this project open source?

[2022-11-18 11:09] ErinOCon commented on #1070
Hi @vaibhavmuchandi, thank you for your patience with this review. This microgrant has been approved! We will send an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-18 11:09] #1070 closed

[2022-11-18 11:16] ErinOCon commented on #577
Hi @Jds-23, I hope you are doing well! Can you submit a final grant report for this project [here](https://airtable.com/shrrtSlgdVvrPmAvr)? Please let us know if you have any questions!

[2022-11-18 12:55] #1086 closed

[2022-11-18 13:32] SolarFi2022 opened #1144 "SolarFi – An Innovative Sustainable Blockchain Solution for Solar Energy"
# Open Grant Proposal: `SolarFi – An Innovative Sustainable Blockchain Solution for Solar Energy`

**Name of Project: SolarFi

**Proposal Category:** `app-dev`

**Proposer:** `SolarFi`

**(Optional) Technical Sponsor:** ` `

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT and APACHE2 licenses?:** `Yes`

# Project Description

SolarFi is a new, innovat

[2022-11-18 13:42] ErinOCon commented on #1099
Hi @hiringblock, thank you for your patience. Can you point to how IPFS, Filecoin, or closely related tech is included in your code? Also, I noticed the linked repo belongs to "[hiring-blocks](https://github.com/hiring-blocks)". Can you briefly describe how this handle is related to yours?

[2022-11-18 13:51] ErinOCon commented on #1019
Hi @rickityjo, thank you for your patience with our review. We will not be moving forward with a grant at this time, but wish you the best as you continue building out the project. Thank you again for your interest in our grants program!

[2022-11-18 13:51] #1019 closed

[2022-11-18 13:54] ErinOCon commented on #952
Hi @Playmenow, thank you for your patience and for the additional information. We will not be proceeding with a grant at this time, but strongly encourage you to check out a hackathon to complete one of these features! Thank you again for your interest in our grants program.

[2022-11-18 13:54] #952 closed

[2022-11-18 14:00] ErinOCon commented on #1017
Hi @PeaceBello, we have sent an email to confirm payment details. Please let me know of any questions!

[2022-11-18 14:00] #1017 closed

[2022-11-18 14:07] ErinOCon commented on #1029
Hi @ankitshubham97, thank you for your proposal and for your patience with our review! While this project and [Dappvault](https://github.com/filecoin-project/devgrants/issues/1028) are both eligible for a grant, it is highly preferred that microgrant projects be completed one at a time. Can you select the preferred project?

[2022-11-18 14:11] ErinOCon commented on #1068
Hi @ZoefdeHaasCode, thank you for your patience with our review! We will not be proceeding with a grant at this time, but would strongly encourage you to take this project to a hackathon. Please feel welcome to reapply as you continue to make building progress.

[2022-11-18 14:11] #1068 closed

[2022-11-18 14:13] ErinOCon commented on #1083
This microgrant has been approved! We will send an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-18 14:13] #1083 closed

[2022-11-18 14:14] ErinOCon commented on #1083
Hi @stevetn611, can you provide a preferred email address for confirming payment information?

[2022-11-18 14:32] hiringblock commented on #1099
Thank you @ErinOCon   , We are using IPFS to store the static content of the website which will include resume of candidates, images, logos of organizations, organization info etc. We have updated the repository and added the backend code where we are using IPFS as our storage layer. We will be facilitating the video interviews between candidates and companies using IPFS tech stack like Huddle. We

[2022-11-18 14:35] stevetn611 commented on #1083
Thanks @ErinOCon , My email: tringuyen.brse@gmail.com

[2022-11-18 14:40] ekil1100 opened #1145 "Open Grant Proposal: `Pandarua - Sealing as a Service Platform`"
# Open Grant Proposal: `Pandarua - Sealing as a Service Platform`

**Name of Project:** Pandarua

**Proposal Category:** `core-dev`, `community`

**Proposer:** [ekil1100](https://github.com/ekil1100) from [GreaterHeat](https://github.com/gh-efforts)

**(Optional) Technical Sponsor:** `If you have previously discussed this project with a member of the IPFS or Filecoin project teams and they have ag

[2022-11-18 14:46] PHABRIC77 opened #1146 "TEE Enabled Bacalhau prototype, testing, and research"
# Open Grant Proposal: `TEE Enabled Bacalhau prototype, FVM proof, FVM linked KMS (optional)

**encloud technology:**

**Proposal Category:** `core-dev`,

**Proposer:** `Phabric77, parthbond180`

**(Optional) Technical Sponsor:** `David Aronchick, Sonia John. Support from Wes Floyd, Luke Marsden, Simon Worthington`

**Do you agree to open source all work you do on behalf of this RFP and dual-licen

[2022-11-18 15:12] PeaceBello commented on #1017
Good afternoon Filecoin-Project/Devgrants,

Thanks so much for getting back to me.

We will complete the form shortly.

Best  Regards,
Peace

On Fri, Nov 18, 2022, 15:00 ErinOCon ***@***.***> wrote:

[2022-11-18 15:43] ErinOCon commented on #1101
This microgrant has been approved! We will send an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-18 15:43] #1101 closed

[2022-11-18 16:07] ErinOCon commented on #1107
Hi @elcharitas, this microgrant has been approved! We will send an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-18 16:07] #1107 closed

[2022-11-18 17:20] ErinOCon commented on #1018
Hi @rageofaxe, thank you for your patience with our review! Did you complete user research for this project? Are you pursuing a solution for a specific scenario? Also, I noticed [geroes](https://github.com/geroes) has been involved in the building of this project. Will this person continue to be involved?

[2022-11-18 17:26] ErinOCon commented on #1091
Hi @Tasse00, this microgrant has been approved! We will send an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-18 17:26] #1091 closed

[2022-11-18 18:05] ErinOCon commented on #1113
Hi @july321, thank you for your proposal and patience with our review. We will not be proceeding with a grant at this time. Thank you again for your interest!

[2022-11-18 18:05] #1113 closed

[2022-11-18 19:12] ErinOCon commented on #1111
Hi @Udit-Kapoor, thank you for your patience! We would be interested in exploring this proposal further. Upon the conclusion of this project, will you be building a protocol that can support similar use cases?

[2022-11-18 19:18] elcharitas commented on #1107
Thanks for this update @ErinOCon
I await the email.

[2022-11-18 19:21] Udit-Kapoor commented on #1111
Hey @ErinOCon , Thanks for taking the time out and reviewing the proposal. The initial aim is to launch the project on mainnet with awesome NFT features like gallery , GIFs of matches as NFTs and explore a marketplace!

Can you explain a bit more by what you mean with a protocol with similar use cases?
Are you asking about an arcade system which has multiple 1V1 games and then the user can select

[2022-11-18 19:30] ErinOCon commented on #1115
Hi @buhbeck, thank you for your proposal! For next steps, we recommend taking this project to a [hackathon](hackathons.filecoin.io). Please feel welcome to reapply for a microgrant as your work progresses. Happy building!

[2022-11-18 19:30] #1115 closed

[2022-11-18 19:45] 1Busayo commented on #513
@ErinOCon  thanks have completed the final report for LINKE

[2022-11-18 22:29] ErinOCon commented on #1116
Hi @pravdaweb, thank you for your proposal! For next steps, we recommend taking this project to a [hackathon](https://github.com/filecoin-project/devgrants/issues/hackathons.filecoin.io). Please feel welcome to reapply for a microgrant as you continue building - we would love to learn of your progress!

[2022-11-18 22:29] #1116 closed

[2022-11-19 02:12] MananAl opened #1147 "BABYLON VOICE"
# Open Grant Proposal: `BABYLON VOICE`

**BABYLON VOICE:**

**Proposal Category:** `app-dev`

**Proposer:** `MananAl`

**(Optional) Technical Sponsor:** `Piyush Maheshwari, Anshuman Prasad (Filecoin, Protocol Labs)`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT, APACHE2, or GPL licenses?:** Yes

# Project Description

Chaotic and uncontrollable gro

[2022-11-19 10:25] irwingtello opened #1148 "Next Step Microgrant: FEVM - Proof of Help"
### 1. What is your project? (max 100 words)
Platform to keep track of the volunteering/assistance/mentoring impact a person has had on FEVM.

The impact this platform will have is that it will be able to validate the real impact a person is having, to have a real metric outside of centralized services (Twitter Reactions,Youtube Reactions, etc).

Currently, if you delete your social network, you l

[2022-11-19 13:18] lewisg8 opened #1149 "Next Step Microgrant: Phishing URL detection with IPFS"
### 1. What is your project? (max 100 words)
My project retrieves raw data from the Phishstats API endpoint. The data is cleaned and transformed into human readable notifications for phishing urls found on a given day. These notifications include phishing URL, originating IP address, and location of origination.
The Gmail API is used to send a generated HTML file that outlines the various phishing

[2022-11-19 20:21] ErinOCon commented on #1117
Hi @VenkatTeja, thank you for your proposal. Is your repo open to the public? The provided link currently isn't working.

[2022-11-19 20:30] ErinOCon commented on #1118
Hi @KwikTrust, this proposal falls outside the scope of the [microgrant program](https://github.com/filecoin-project/devgrants/blob/master/microgrants/microgrants.md). Check out our grant opportunities [here](https://github.com/filecoin-project/devgrants) and proceed with our [provided templates](https://github.com/filecoin-project/devgrants/issues/new/choose), as applicable.

[2022-11-19 20:34] KwikTrust commented on #1118
Thanks for the note. What's best grant option for KwikTrust?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: ErinOCon ***@***.***>
Sent: Saturday, November 19, 2022 8:30:23 PM
To: filecoin-project/devgrants ***@***.***>
Cc: Team ***@***.***>; Mention ***@***.***>
Subject: Re: [filecoin-project/devgrants] KwikTrust (Issue #1118)

Hi @KwikTrust<https://github.

[2022-11-19 20:37] #1120 closed

[2022-11-19 20:49] ErinOCon commented on #1122
Hi @brucexu-eth, thank you for your proposal! We are currently only considering projects that are actively open source. Can you confirm when your project will be open source and when your project repo will be available for review?

[2022-11-19 21:31] ErinOCon commented on #1124
Hi @nattakz, thank you for the updated submission. We would like to see this project in a [hackathon](https://hackathons.filecoin.io/) before considering for a grant. This can help showcase the trajectory of your future building progress and can also help you get closer to your working prototype/demo.

Thank you again for your interest in our grant program

[2022-11-19 21:31] #1124 closed

[2022-11-19 21:48] ErinOCon commented on #1125
Hi @nattakz, thank you for your proposal. We would also highly recommend a [hackathon](https://hackathons.filecoin.io/) for the next steps of this project. Please feel welcome to submit this project or IPFS-MEDICAL-CERTIFICATES(https://github.com/filecoin-project/devgrants/issues/1124)](https://github.com/filecoin-project/devgrants/issues/1124#top) after completing a hackathon.

[2022-11-19 21:48] #1125 closed

[2022-11-20 11:15] Shubham0850 commented on #1048
Hi ErinOCon,

*CryptoPay*

Next 3 month plan after getting grant

*Features 1: Merchant Registration page*

Registration page for merchants where any merchant who wants to receive
crypto as a mode of payment can register their store to the application.

*Feature 2: Integrate WEB3Auth*

To make the wallet creation part more smooth and sure. We will implement
WEB3Auth into the application.

*Feature

[2022-11-20 11:21] Shubham0850 commented on #616
Hi ErinOCon,

As I answered in the form. Our main goal was to build some utility for our
m-tribe project. But because we were working on it only part-time then we
only able to develop Yolo-Club
https://github.com/Crusader-Labs/yolo-club/tree/alpha

so you'll not find any commits on that repo. please check the above
Yolo-Club repo.

Thanks,
Shubham Raj

On Thu, Nov 17, 2022 at 8:08 PM ErinOCon ***@

[2022-11-20 12:38] gundeep commented on #1086
Thank you for the update @ErinOCon.
Is there an email I can reach out to for more information about the report? Or is here the best place to ask questions?

[2022-11-20 14:10] brucexu-eth commented on #1122
Hi @ErinOCon, yeah, this project will be open source for sure, and will actively maintain it. It has been a bit busy as we just refactored our project. So we will extract the code from the project into an independent GitHub open-source repo within a few days. After that, I'll post the link here.

[2022-11-20 20:14] july321 commented on #1113
Hi! Thank you for your review. Can I, please, get a feedback about my project, like what was not really good in it and what can be improved? And thank you.

[2022-11-21 00:21] harryisgood commented on #1027
harryjones97@proton.me - this is a good email address for me

[2022-11-21 08:50] NftTopBest commented on #737
Hi @ErinOCon I already submit the form.

[2022-11-21 08:50] NftTopBest commented on #622
Hi @ErinOCon I already submit the form.

[2022-11-21 10:23] WojtasDAO opened #1150 "Hype Squad - Educational DAO"
# Open Grant Proposal: `Hype Squad`

**Name of Project:** Hype Squad

**Proposal Category:** Community

**Proposer:** WojtasDAO

**(Optional) Technical Sponsor:** `If you have previously discussed this project with a member of the IPFS or Filecoin project teams and they have agreed to be a technical sponsor, include their name and/or github handle here`

**Do you agree to open source all work you

[2022-11-21 10:50] jaydippatel83 opened #1151 "Next Step Microgrant: SuperFun.social - A gamified Social Fun and Entertainment Dapp."
### 1. What is your project? (max 100 words)
​​A gamified social Fun and Entertainment Dapp built using Filecoin - IPFS and Lens protocol opensource social graph that allows users to own the content they create, participate in online contests and play games.

### 2. Project links

Link to GitHub repo: https://github.com/jaydippatel83/superfun_lens_demo
Link to demo or website:  www.Superfun.social

[2022-11-21 11:48] joshklop opened #1152 "Next Step Microgrant: Extending Bacalhau with Additional Storage Drivers"
### 1. What is your project? (max 100 words)

I'm an independent engineer interested in contributing to Bacalhau. I participated in ETHBogota and was fortunate to receive the Filecoin Bacalhau prize.

### 2. Project links

Link to Github repo: [personal](https://github.com/joshklop), [ETHBogota project](https://github.com/joshklop/goldberg-calculator)
License: N/A

### 3. How is IPFS, Filecoin, or

[2022-11-21 12:42] brymut opened #1153 "RFP Application: FaucetFil, Generic FVM Faucet"
# RFP Proposal: `FaucetFil - FVM Faucet`

**Name of Project:** FaucetFIl

**Link to RFP:** [/rfps/fvm-open-tools-infra.md](https://github.com/filecoin-project/devgrants/blob/9daa0c8295f06ba6551b18b06c2e0e8261c2725b/rfps/fvm-open-tools-infra.md?plain=1#L39)

**RFP Category:** `app-dev`

**Proposer:** `brymut`

**Do you agree to open source all work you do on behalf of this RFP and dual-license unde

[2022-11-21 12:46] tchataigner opened #1154 "RFP Application: FVM Native Toolset"
# RFP Proposal: FVM Native Toolsed - Kythera

**FVM Native Toolset - Kythera**

**RFP Category:** `devtools-libraries`

**Proposers:**
@tchataigner
@PhilippeMts

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT and APACHE2 licenses?:**
Yes

# Project Description

### Abstract

When dealing with the development of smart contracts (or **actors** per File

[2022-11-21 12:56] ErinOCon commented on #1126
Hi @azomland, thank you for your proposal! In order to be an eligible candidate for the microgrant program, a project repo with applicable code is necessary. It is also required that the supported work be open source.

Please feel welcome to reapply if your project meets this criteria in the future.

[2022-11-21 12:56] #1126 closed

[2022-11-21 13:30] jbrit opened #1155 "Next Step Microgrant: Afriverse"
### 1. What is your project? (max 100 words)
Afriverse is a community driven web3 education platform for africans by africans. We incentivise learning and the upload of quality content by rewarding our learners with tokens for each course completed, and rewarding the content creators with tokens. This ensures creators always aim to create more quality content, and that learners aim to learn more.

[2022-11-21 13:41] ErinOCon commented on #1133
Hi @jimpick, thank you for your proposal! We have sent an email to confirm payment details. Please let me know if you have any questions.

[2022-11-21 13:41] #1133 closed

[2022-11-21 13:45] ErinOCon commented on #1027
thank you!

[2022-11-21 13:51] ErinOCon commented on #1090
Hi @conorforde, thank you for your proposal! Before considering this project for a grant, we would like to see more building progress. For next steps, we recommend participating in a [hackathon](https://hackathons.filecoin.io/)! Thank you for your interest in our grants program.

[2022-11-21 13:51] #1090 closed

[2022-11-21 14:08] ErinOCon commented on #1073
Hi @aeonicc, thank you for your proposal! Can you confirm which license you are using and add this to the repo?

[2022-11-21 14:11] ErinOCon commented on #1009
Hi @yangdouios, thank you for your patience with our review. Before considering this proposal for a grant, we would like to review more building progress. For next steps, I would recommend taking your project to a [hackathon](https://hackathons.filecoin.io/). Please be in touch with any questions!

[2022-11-21 14:11] #1009 closed

[2022-11-21 14:11] sideris opened #1156 "Research and implementation of an IPFS based open data Platform and API for short term lease price movements"
# Open Grant Proposal: `Fund the research and implementation of an IPFS open data Platform and API for short-term lease pricing`

**Name of Project:**
Open data Platform and APIs on short-term lease prices that can be used by everyone

**Proposal Category:**
`app-dev`

**Proposer:** `sideris`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT, APACHE2,

[2022-11-21 14:14] ErinOCon commented on #1029
Hi @ankitshubham97, thank you for the update! We will send you an email to confirm payment details for this project. Thank you again for your interest in our grants program!

[2022-11-21 14:14] #1029 closed

[2022-11-21 14:16] ErinOCon commented on #1029
Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-21 14:17] ErinOCon commented on #1028
Hi @ankitshubham97, this issue has been closed per our discussion in [this proposal](https://github.com/filecoin-project/devgrants/issues/1029). Thanks!

[2022-11-21 14:17] #1028 closed

[2022-11-21 14:23] ErinOCon commented on #1082
Hi @sylvanzhang, this request falls outside the scope of the microgrant program. A member of the Orbit team will be in touch by email to discuss possible reimbursement options.

[2022-11-21 14:23] #1082 closed

[2022-11-21 17:00] ErinOCon commented on #1152
HI @joshklop, This microgrant has been approved! We will send an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-21 17:34] ErinOCon commented on #1141
Hi @IntergalacticDotDev, we will not proceed with a grant for this project. Thank you for your interest in the grants program.

[2022-11-21 17:34] #1141 closed

[2022-11-21 17:40] ErinOCon commented on #1142
Hi @jozefpinter, thank you for your proposal. Can you provide more detail on the next steps you will take over the next three months?

[2022-11-21 17:46] ErinOCon commented on #1143
Hi @petragor, it looks like this project is in the very early stages of building. For next steps, I would recommend participating in a [hackathon](https://hackathons.filecoin.io/). This is a great way to showcase building progress and a working prototype!

Thank you for your interest in the grants program!

[2022-11-21 17:46] #1143 closed

[2022-11-21 17:57] ErinOCon commented on #1149
Hi @lewisg8, thank you for your proposal! Before considering this proposal, we would like to review additional building progress. For next steps, I would recommend participating in a [hackathon](https://hackathons.filecoin.io/). Please let me know if you have any questions.

[2022-11-21 17:57] #1149 closed

[2022-11-21 18:55] jozefpinter commented on #1142
Hello @ErinOCon , I want to build a desktop app in electron. DeCommerce is going to be more users-friendly. Because, for example, currently to add products you have to edit a JSON file, or to configure the eshop, you have to edit a js file. This approach is not suitable for average users. With a desktop app you will be able to deploy a shop and its content on the ipfs network from a desktop app. I

[2022-11-21 19:08] aeonicc commented on #1073
Hello Erin,

Can you help me choose the License?

I had chosen the original type license,

Not sure what the requirements are,

Thank you,

Em seg., 21 de nov. de 2022 às 14:08, ErinOCon ***@***.***>
escreveu:

[2022-11-21 19:50] buhbeck commented on #1115
No problem @ErinOCon thanks for the update! I will take some time to work on it further

[2022-11-21 20:25] ErinOCon commented on #1099
Hi @hiringblock, thank you for the additional information. I will circle back with an update shortly!

[2022-11-21 20:31] realChainLife commented on #1088
Hi @Agin-DropDisco thanks for your patience with our feedback here and for that update. I'd appreciate your thoughts on some open questions from the initial review:
- 500 unique users is great. What's the user onboarding plan that will get you up to 20k active users in 3 months?
- What's the traction on the other Zonulet products like the DexSwap?
- Marketplace https://zonulet.io/explore/exploreal

[2022-11-21 20:39] ErinOCon commented on #1077
Hi @alexaport, thank you for your proposal! Can you briefly describe the long term goals for this project? Do you have any specific plans to build user participation?

[2022-11-21 21:23] realChainLife commented on #1128
Hi @yubygetaverse thank you for your proposal. Several questions came up during the initial review and I'd appreciate your thoughts on the same:
- What parameters / attributes will you use, especially as signed credentials, to link to DID objects?
- How will you store the hashes of the verifiable statements?

[2022-11-22 02:47] ErinOCon commented on #642
Hi @B-Venkatesh7210, I hope you are doing well! Can you provide a final report for this project [here](https://airtable.com/shrrtSlgdVvrPmAvr)? Please let us know if you have any questions!

[2022-11-22 03:05] ErinOCon commented on #524
Hi @irwingtello, thank you for the provided updates! Can you provide the final report for this project [here](https://airtable.com/shrrtSlgdVvrPmAvr)? Please let us know if you have any questions!

[2022-11-22 03:23] TGS2016 commented on #1077
Hi @ErinOCon ,
Sure. Further I would like to launch same project on android/ios so that market will be covered, Open multiplayer mechanism after that where multiple users can challenge against each other and winner can get ERC-20 tokens. Multiple themes are also in pipeline. We can also add few more themes if we get this grant so user will have more options in the game.
Thank you

[2022-11-22 03:24] #1130 closed

[2022-11-22 03:39] ErinOCon commented on #496
Hi @lakshh07, thank you for your recent microgrant application. Before proceeding with our review, can you complete the final report for this project [here](https://airtable.com/shrrtSlgdVvrPmAvr)? Please let us know if you have any questions!

[2022-11-22 03:44] ErinOCon commented on #540
HI @lakshh07, Can you provide a final report for this project [here](https://airtable.com/shrrtSlgdVvrPmAvr)? Please let us know if you have any questions!

[2022-11-22 03:44] TheDecentralizedProducer commented on #1134
Hey @jenks-guo-filecoin  Sorry for the delay here.

**_could you please help me understand what is exactly stored in IPFS and via what services/methods/nodes do you plan to store this for persistence of the media files?_**

Currently were storing our Media/ (PDFs(contracts) that will be used as well site images and when the time comes Video.) This is being done through PINTA currently. We are also

[2022-11-22 03:47] ErinOCon commented on #1010
Hi @lakshh07, as you may have guessed from my recent comments in your proposals :), the final grant report for this project is due within three months of the approval date above and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-22 03:51] ErinOCon commented on #1119
Hi @lakshh07, thank you for your proposal! Does this work build on any of your previous projects supported through the microgrant program? If so, please provide a brief explanation.

[2022-11-22 04:07] irwingtello commented on #524
Hi @ErinOCon ,of course  😁,we filled the report 🛠️, in addition we published another proposal here:
https://github.com/filecoin-project/devgrants/issues/1148
It's related to the FEVM

[2022-11-22 04:22] ErinOCon commented on #1072
Hi @Jds-23, thank you for your proposal! I have recently provided final report information in the proposal of a [previous project](https://github.com/filecoin-project/devgrants/issues/577). Do you expect these details can be submitted this week?

[2022-11-22 04:27] ErinOCon commented on #857
Hi @Webmoss, I hope you are doing well! Do you expect the final report for this project will be ready for submission soon? I understand the payment took additional time, please let me know if you need more time with this project.

[2022-11-22 04:29] ErinOCon commented on #1071
Hi @Webmoss, thank you for your proposal! Generally, we approve one microgrant at a time. Do you expect the work for your previous project to be complete soon?

[2022-11-22 05:23] hiringblock commented on #1099
Thank you @ErinOCon looking forward to hearing from you. Really excited to build using IPFS/Filecoin and FVM going forward.

[2022-11-22 05:49] ErinOCon commented on #951
Hi @kimuraakiia, thank you again for your proposal and for your patience with our review. Before considering this grant further, we would like to see additional building progress. For next steps, I would recommend taking this project to [a hackathon](https://hackathons.filecoin.io/).

Once completed, please feel welcome to reapply!

[2022-11-22 05:49] #951 closed

[2022-11-22 06:06] Agin-DropDisco commented on #1088
Thanks for the question @realChainLife

heres the answer:

1. We got more than 500 users with zero marketing and promotion, so with the funds we get from this grants, we will use 30% of it for promotions, incentives and  create various events such as airdrop and nft competition to attracts more users to zonulet. We will make sure to get 20K+ daily users in the next 3 months

2. DexSwap itself was

[2022-11-22 06:47] max1015070108 commented on #1138
as an SP,we would like to support this project.

[2022-11-22 06:58] spark8899 commented on #1138
As a developer, we would like to use the dataset for development

[2022-11-22 07:00] woshidama323 commented on #1138
As a developer and an SP, we would also like to support this project

[2022-11-22 07:18] jamesyu1999 commented on #1138
As an SP, we definitely support this project.

[2022-11-22 07:20] adidabakare opened #1158 "Pandos"
### 1. What is your project? (max 100 words)
Music platforms such as Spotify and Apple Music take a large percentage of royalties from their own artists. Which we believe should not be the case. Musicians are expected to enjoy the majority of their work. Aside from that, these platforms have the censor your content anytime they want. Music, podcasts, and similar content should be owned and control

[2022-11-22 07:22] nickboot commented on #1138
as an SP,we would like to support this project

[2022-11-22 07:28] Icarus9913 commented on #1138
As a developer, we would like to use the dataset for development

[2022-11-22 07:29] Webmoss commented on #1071
Hi @ErinOCon Thanks for the feedback, I understand completely and yes the work for my other project is completed, the next phase can get started as I have completed my objectives. I would prefer to then keep my focus and attentions on Mojo as the project has more interest from sponsors like Filecoin and Tableland. I will share more details in my final report. I will close this request and thank yo

[2022-11-22 07:29] #1071 closed

[2022-11-22 07:36] Webmoss commented on #857
Hi @ErinOCon Very well thanks, I have been really busy over the last while and have been working hard at achieving our goals. I was also accepted into the Tableland Pilot Program 02 and we have demo day today with all the Tableland community and rig holders who vote on the different projects. There was some excellent contenders and I've learnt so much again and got so many more cool ideas on how t

[2022-11-22 07:50] Shalupanwar06 commented on #1135
Hi @ErinOCon, Thank you so much for approving the grant. Glad to be a part of the Filecoin community. Looking forward to your mail.

[2022-11-22 08:01] Jds-23 commented on #577
Getting the report ready

[2022-11-22 09:48] GuiPulp commented on #1138
As a developer and an SP, we would also like to support this project

[2022-11-22 10:02] TGS2016 commented on #877
Hi @ErinOCon ,
We have submitted report on the given link and updated repo.
Thank you so much for wonderful opportunity.

[2022-11-22 13:19] mendsalbert opened #1160 "Movers"
### 1. What is your project? (max 100 words)
Making use of blockchain technology, we present to you Movers, an property management platform that seeks simplify property management processes with blockchain. By doing so, we offer you an easy way to trade properties amongst users. And what we seek to achieve is to make the property management processes more transparent to end users.

There are about

[2022-11-22 13:31] gitsrc commented on #1130
@ErinOCon Thank you very much for the reminder, for the previously approved project, we submitted the report today, and for building cloudslit on fvm, we resubmitted the application.

[2022-11-22 13:33] gitsrc opened #1161 "Next Step Microgrant :FlowShield builds on FVM"
### 1. What is your project, and what problem does it solve? (max 100 words)

FlowShield aims to build a decentralized web3 privacy data retrieval security network system around the world, and help users recapture privacy security information eroded by giants under web2, so that the current global hot zero-trust security network technology combined with web3 can better help users master their own

[2022-11-22 14:20] ErinOCon commented on #1129
Hi @GioiaLulu, thank you for your proposal! This grant has been approved. I have sent an email to the provided address to discuss next steps.

[2022-11-22 14:20] #1129 closed

[2022-11-22 14:21] realChainLife commented on #1100
Hi @AruSasaki1 thanks for these detailed responses, however we will not be funding this proposal at this stage, while a wallet-based messaging protocol at Telegram scale would be interesting, the addition of a [smart contracts](https://github.com/DMTProtocol/DMTP-contract/tree/main/contracts) for various market functions not criteria to messaging functionality reduces project desirability. We'd be

[2022-11-22 14:35] realChainLife commented on #1108
Hi @mindflyart thank you for your patience with our feedback here. We would be interested in funding part of the work outlined here, could you kindly rework the proposal for a phased development approach prioritizing features to include in phase one, for instance M1 and part of M2.

[2022-11-22 15:02] holyaustin commented on #868
Hi Erin,
The initial phase of our Project (Kredeith Protocol) will be the front end. This shall be accomplished based on the following milestones

Frontend Development Phase 1 of Kredith Protocol

|
Milestone No.
 |
Milestone Description
 |
Elaborate
 |
Estimated Time frame
 |
|
1
 |
Requirement Gathering

 |
what the goal of the project is;

who the target audience is;

how they will use the prod

[2022-11-22 19:35] jenks-guo-filecoin commented on #1083
Hi @stevetn611, we have asked FilSwan team to look into your repo. However they have not found the use of their product. Could you let us know your plans of incorporating their product in your project?

[2022-11-22 20:52] ErinOCon commented on #1013
Hi @AliTranscrypts, I hope you are doing well! Do you expect an update will be available by next week?

[2022-11-22 21:06] FazioNico commented on #1103
Thank you @ErinOCon for your reply. I will therefore publish the work done and submit the final report before returning to apply with this project.

[2022-11-22 22:34] maciejwitowski commented on #1154
Thank you for the proposal, I really like it!

Some early thoughts:

1. Did you think about providing the website with the documentation? I didn't see it mention so just want to make sure it's in the scope.
2. About local environment: You said that it "would emulate the working environment of the Filecoin network". Assuming many dapps build on Filecoin will interact with the Filecoin built-in acto

[2022-11-22 22:44] ErinOCon commented on #1096
Hi @thor314, I hope you are doing well! Do you expect to have an update available by next week?

[2022-11-22 23:40] jenks-guo-filecoin commented on #1132
@ErinOCon this is one of the winners of ETH Lisbon hackathon. Not on Filecoin track but recommend approving them.

[2022-11-23 03:43] Dialstone-airdrop opened #1162 "Next Step Microgrant: <Dialstone_NFT's>"
### 1. What is your project? (max 100 words)
 the development and sales of NFT's on platforms like Opensea, Rarible, etc.

### 2. Project links https://opensea.io/0xF2c9B9d549d741AE68dAd0f0D33be4248f8DCf79

https://lnkd.in/gVMM5CKN

Link to Github repo:https://github.com/Dialstone-airdrop
Link to demo or website, if applicable:
License:https://dialstone.myshopify.com

### 3. How is IPFS, Filecoin,

[2022-11-23 03:50] stevetn611 commented on #1083
Hi, Filecoin DevGrant,

At the current stage, We splitting up the "Web3cloud IChill Ecosystem"
project (for Hackathon) into 2 separate projects (Web3cloud project:
web3cloud, the current stage does not use FilSwan services, and IChill
project: decentralized video sharing platform that uses FilSwan's MCS
storage ).
For this Microgrant, We apply for the Web3cloud  project so whether it
would be elig

[2022-11-23 07:25] Webmoss commented on #857
@ErinOCon I've completed the final report, let me know if you need more info or a demo ;)

I would like to find out more about the next steps we can take as a project building in the web3 space.
We have also been successful with the Tableland Pilot Program and would like to also work more with the protocol to further the project.

Thanks again Filecoin and IPFS, your assistance has been tremendous

[2022-11-23 11:04] jaydippatel83 commented on #1151
Development update: Homepage UI has been updated - Report post module has been integrated

[2022-11-23 11:43] FroghubMan commented on #1121
[builtin-actors](https://github.com/FroghubMan/builtin-actors/tree/tvx) adds test_tvx.
The test vectors data of evm is implemented and directly written into the vm. Finally, the output results are compared with the values after the slot changes

[2022-11-23 12:49] lewisg8 commented on #1149
No problem thanks for the update Erin, will work on it more. Best

[2022-11-23 14:27] tchataigner commented on #1154
Thanks for the feedback @maciejwitowski !

You’re right, we propose that the documentation takes the shape of a markdown-based static website (like [MkDocs](https://www.mkdocs.org/), [Docusaurus](https://docusaurus.io/) …).

Documentation will be updated each time a sub-milestone is delivered. We will make sure that the documentation is properly done and comprehensive by asking community/core team

[2022-11-23 15:57] lukemarsden commented on #1146
LGTM 👍

[2022-11-23 16:53] Udit-Kapoor commented on #1111
Hey @ErinOCon , development of a protocol for arcades will take a significant time which might be out of scope for the micro-grant

Alternatively we will be treating each individual game as a separate project as we develop them during Hackathons

Do let me know your thoughts

Warm Regards
Udit Kapoor

[2022-11-23 16:53] ffatique opened #1163 "Next Step Microgrant: Trasnpar3ncy"
### 1. What is your project? (max 100 words)
Transpar3ncy is an open source token infographic for web3 projects. We are currently running a demo on top of the https://mafagafo.com/ project, which brings information about holders, number of unique portfolios, indicators, data aggregators and ranking of holders. Our goal is to create this infographic for the FIL Token https://bscscan.com/token/0x0d8

[2022-11-23 18:29] justmert opened #1164 "Open Grant Proposal: `PEER-CLI` - Swiss Army Knife for the IPFS"
**PEER-CLI: Swiss Army Knife for the IPFS**

**Proposal Category:** `app-dev`

**Proposer:** `justmert`

**(Optional) Technical Sponsor:** `No`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT, APACHE2, or GPL licenses?:** `Yes, MIT`

# Project Description

Applications built on the IPFS protocol generally tends to be Web applications built with a cen

[2022-11-23 19:27] Brycepalichuk commented on #861
Hi @ErinOCon , we have just submitted the final grant report on Airtable. Thank you!

[2022-11-23 20:21] stugufaka opened #1165 "Blockdrive"
### 1. What is your project? (max 100 words)
Blockdrive is a decentralized cloud storage platform that leverages the use of IPFS and web3 storage to store files, thereby improving security. It also comes with chatting capabilities and the ability to convert a file into an NFT.

We believe that data should be stored in a decentralized manner so that no single entity has control over it. This is why

[2022-11-23 21:12] codynhat commented on #902
Posting an update on our progress. We have made steady progress on design and implementation of our MVP.
- https://ligo.dev/docs/
- https://github.com/Ligo-Protocol/js-ligo
- https://github.com/Ligo-Protocol/ligo-web-app

Some highlights:
- We have built a prototype that uses Web3.storage to store agreements in IPFS using the DAG-JOSE codec.
- We have been experimenting with different solutions fo

[2022-11-23 23:51] thor314 commented on #1096
Hi, thanks for the bump. There are several updates to the project. Since the original proposal, focus has shifted more in the direction of content creation and education. Platform development isn't on the near-term roadmap.

Two weeks ago we launched the site (https://uncloak.org/, https://github.com/thor314/uncloak.org), and last week we launched our first study group on Rust-based Cryptography e

[2022-11-24 01:46] TheGodOfAwesome opened #1166 "Built Different - Open Grant Application"
# Open Grant Proposal: `Built Different`

**Name of Project:** `Built Different` - Introducing, Teaching and Supporting Decentralized Storage and Peer-to-Peer File Sharing in Africa

**Proposal Category:** `community`

**Proposer:** `@thegodofawesome`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT and APACHE2 licenses?:** `Yes`

# Project Descriptio

[2022-11-24 03:08] mindflyart commented on #1108
Dear Sonia John:

Lots of thanks for your reply with support.

We are proceeding with implementation in the project now, so we will get
back to you soonest ( within this week), about the updated proposal.

Wish you have a good day ahead !

Cheers,

Johnson

On Wed, Nov 23, 2022 at 12:35 AM Sonia John ***@***.***>
wrote:

[2022-11-24 03:56] VenkatTeja commented on #1117
Hey, @ErinOCon, its public now.

[2022-11-24 07:08] cardeverre opened #1167 "Open Grant Proposal: Unity Unreal Plugins for IPFS and Hammerspace"
# Open Grant Proposal: unity-unreal-plugins-ipfs-hammerspace

**Unity & Unreal Plugins for IPFS and Hammerspace:**

**Proposal Category:**
integration-adoption

**Proposer:**
JP Van Loggerenberg | Made For Gamers | https://github.com/cardeverre

**(Optional) Technical Sponsor:**

Benedikt Wölk from Protocol Labs and Hammerspace

**Do you agree to open source all work you do on behalf of this RFP a

[2022-11-24 11:21] #1109 closed

[2022-11-24 11:22] #1102 closed

[2022-11-24 21:49] pakariisbum opened #1168 "World3"
### 1. What is your project? (max 100 words)
World 3 is a web 3.0 platform that will bring together explorers to solve social and environmental problems of the SDG goals. Our mission is to use blockchain to achieve real world impact, especially in areas where there is no other solution. We believe that the technology exists today, and more importantly, we have built World3 to be easily adopted by

[2022-11-25 04:19] shepherliu opened #1169 "[Gitcoin Social Hour Hackathon Runner Up] filename-space"
### 1. What is your project? (max 100 words)

filename space, a decentralized web3 name service based on evm chains and filecoin network to make people use the web3 apps simply and ealisy.

There are some features which maybe attract you:

1.using filename-space, you can register a ".fil" name to bind your wallet address.

2.stack to mint, you must stack some eth tokens to mint a name nft. and whe

[2022-11-25 06:47] lumi-x opened #1170 "Next Step Microgrant: <Your Title Here>"
### 1. What is your project? (max 100 words)

### 2. Project links

Link to Github repo:
Link to demo or website, if applicable:
License:

### 3. How is IPFS, Filecoin, or related technology used in this project? (max 100 words)

### 4. How will you improve your project with this grant? What steps will you take to meet this objective? (max 200 words)

### 5. Do you agree to share grant reports upo

[2022-11-25 06:52] gonormonor opened #1171 "Blogistics"
### 1. What is your project? (max 100 words)

Blogistics is a blockchain-based logistics platform that enables secure and transparent supply chain management. By decentralizing the supply chain management process on the blockchain, Blogistics provides a higher level of security and transparency, as well as immutability.

By using Blogistics, businesses will be able to enjoy a higher level of secur

[2022-11-25 07:02] sensurusirupus opened #1172 "Brainic"
### 1. What is your project? (max 100 words)

Brainic is a web3 memory game application that helps improve the memory of individuals while wining tokes as a result. The application is designed to be played by anyone, regardless of their age or experience with memory games. The goal of the game is to help the player improve their memory, while also providing them with the opportunity to win tokens

[2022-11-25 08:55] #1098 closed

[2022-11-25 08:58] #1095 closed

[2022-11-25 09:11] #562 closed

[2022-11-25 09:13] #958 closed

[2022-11-25 12:31] aeonicc commented on #1073
Hello @ErinOCon it is open source Licence

[2022-11-26 18:33] Pfed-prog opened #1173 "WebBadminton"
### 1. What is your project? (max 100 words)

WebBadminton Dapp introduces users to the sport of Badminton as well as contains item store to track and ledger the delivery of badminton equipment.
Each real equipment item is ledgered via a digital one with a smart contract logic system in place to determine the demand and track iteam. When delivery is completed the DApp ERC1155 NFTs should be exchan

[2022-11-26 20:58] StarKeyJON opened #1174 "Next Step Microgrant: ♟️ ETH-Chess"
### 1. What is your project? (max 100 words)

ETH-Chess allows for decentralized Ethereum wagered chess matches and death-match tournaments(where the winner of 3 consecutive games in a row wins the rewards pot!).
Matches are initiated and settled on the Ethereum blockchain.
IPFS is used for match details, move preservation during gameplay, and for the review of disputed winning claims.
Truth-fulln

[2022-11-27 03:00] mindflyart commented on #1108
Dear Sonia John:

How are you doing? be glad to articulate our plan with the ambition in IPFS
at filecoin.

We have updated the proposal, especially in the milestone 1 and milestone
2, which is addressed with your suggestion. view it on GitHub
<https://github.com/filecoin-project/devgrants/issues/1108#issuecomment-1323772109>
,

Thanks for your patience and technical sponsoring support from Jenks

[2022-11-27 06:24] Agin-DropDisco commented on #1088
hello @ErinOCon @realChainLife Is there any update about this grant pls ? 😞

[2022-11-27 13:24] Nerotool commented on #1147
SEND A DM TO NEROTOOL_ ON INSTAGRAM FOR HACKING

[2022-11-27 13:33] Nerotool commented on #1147
SEND A DM TO NEROTOOL_ ON INSTAGRAM FOR HACKING

[2022-11-27 15:18] brucexu-eth commented on #1122
Hi @ErinOCon, we have extracted the code from our project, the public open-source repo is here <https://github.com/lxdao-official/Img3>.

For the record, it's just a simple proof-of-concept, and the code is full of todos and a bit messy. But it should be enough to show the idea of the proposal, we still need some time and grants to polish the components and make them usable in production. Please r

[2022-11-27 22:26] allanokothdev opened #1175 "Next Step Microgrant: NFT-Certs"
### 1. What is your project? (max 100 words)
NFT-Certs - Fake certificates is a prevalent issue in Kenya, It is reported that one on every 3 Kenyans holds a fake academic document, and it is unfortunate that these holders manage to climb their respective career ladder to assume professional roles like surgeons, and later cause irreparable damage because they don't have the relevant skill set neede

[2022-11-28 05:16] kikakkz opened #1176 "FIL-Peggy: Tools to manage miner with smart contract"
### 1. What is your project? (max 100 words)

FIL-Peggy is a series of tools to help user manage their miner with smart contract. It's developed with FVM.

### 2. Project links

Link to Github repo: https://github.com/NpoolFilecoin/fil-peggy, https://github.com/NpoolFilecoin/fil-owner-actor
Link to demo or website, if applicable:
License: MIT

### 3. How is IPFS, Filecoin, or related technology us

[2022-11-28 11:13] hiringblock commented on #1099
Hi @ErinOCon , is there any update regarding our application?

[2022-11-28 11:52] raulk commented on #1121
Hi @FroghubMan, thanks for your proposal. Although your description and explanations are quite brief, it seems like you have a good big picture understanding of the approach involved. Some comments here:

- Have you considered using the [tvx vector format](https://github.com/filecoin-project/test-vectors) instead of an entirely new format? This would save you considerable effort since you can drop

[2022-11-28 13:08] ErinOCon commented on #1140
This microgrant has been approved! We will send an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-28 13:08] #1140 closed

[2022-11-28 13:14] ErinOCon commented on #1132
This microgrant has been approved! We will send an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-28 13:14] #1132 closed

[2022-11-28 13:21] ErinOCon commented on #1111
Hi @Udit-Kapoor, thank you for the provided update This microgrant has been approved at the scope provided in your proposal! We will send an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-28 13:21] #1111 closed

[2022-11-28 13:49] ErinOCon commented on #1099
Hi @hiringblock, thank you for your patience with our review. Before considering for a microgrant, we would like to see how the building for this project continues to progress. For next steps, we recommend taking this to a [hackathon](https://hackathons.filecoin.io/).

Thank you for your interest in our grants program!

[2022-11-28 13:49] #1099 closed

[2022-11-28 13:54] ErinOCon commented on #1078
Thank you for your proposal! Before considering this project for a microgrant, we would like to see how your building progresses. For next steps, we recommend participating in a [hackathon](https://hackathons.filecoin.io/)!  Thank you for your interest in our grants program.

[2022-11-28 13:54] #1078 closed

[2022-11-28 14:59] JSchimanski opened #1177 "Next Step Microgrant: voteproposal.xyz"
### 1. What is your project? (max 100 words)
https://voteproposal.xyz/ is a decentralized super lightweight snapshot.org API based voting and proposal app.
All ERC20, BEP20 new and existing tokens and other EVM blockchains are supported.
Token holders can create proposals and vote.
With a preset value of tokens, any token holder can create proposals.
With a preset value of tokens, any holder can v

[2022-11-28 15:05] AliTranscrypts commented on #1013
@realChainLife @ErinOCon Apologies for the delay in our response. Last few weeks we had been busy working with the NIH to develop and demonstrate a potential interoperability layer for EHRs, and that work was very time sensitive so we had to assign most of our resources to that.

I will update the FileCoin open proposal by tonight for your review, and we can take it from there.

[2022-11-28 16:33] benediktwoelk commented on #1167
Hi @cardeverre, thanks for writing up the grant proposal.

Can you elaborate on the risks involved? From our discussions I recall:

- Native Bitswap implementation feasibility in Unity + Unreal
- UX for authentication
- VR support, esp. in Unreal 5

At the current level of research are you confident that all of the above can be done? Anything you want to add? Thanks!

[2022-11-28 17:19] fleischr opened #1179 "Next Step Microgrant: IPFS/Filecoin integration to SAP with proUBC"
### 1. What is your project? (max 100 words)
Add further IPFS/Filecoin support for SAP's ABAP programming language with proUBC, the open source Web3 connector for SAP

### 2. Project links

Link to Github repo:
https://github.com/provideplatform/proUBC
Link to demo or website, if applicable:
IPFS example first implemented in Chainlink Fall Hackathon
Youtube video https://youtu.be/fxqMscQVItE
https

[2022-11-28 17:25] ErinOCon commented on #1155
This microgrant has been approved! We will send an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-28 17:25] #1155 closed

[2022-11-28 17:36] regcs opened #1180 "Open Grant Proposal: Renderhive – A Web3 crowdrendering platform for Blender"
# Open Grant Proposal: `Renderhive`
**Name of Project:** `Renderhive`

**Proposal Category:** `app-dev`

**Proposer:** [`@regcs`](https://github.com/regcs/)

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT and APACHE2 licenses?:**
`YES`

# Project Description

The increasing hardware capabilities of consumer computers and software like [Blender](https

[2022-11-28 20:58] okgardner opened #1181 "open-proposal-on-chain-compliance-certifications.md"
# Open Grant Proposal: `On-chain compliance certifications (and more!)`

**Name of Project:** `On-chain compliance certifications (and more!)`

**Proposal Category:** `devtools-libraries`

**Proposer:** `banyancomputer`

**(Optional) Technical Sponsor:** ` David Aronchick`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT, APACHE2, or GPL licenses?:**

[2022-11-28 20:59] okgardner commented on #1181
@laudiacay @aronchick @jonahkaye @ita_c @amiller68

[2022-11-28 21:35] ErinOCon commented on #1122
Thanks, @brucexu-eth! Can you briefly describe your approach for extracting and redesigning the components listed under Item 1? Do you have a specific milestone you hope to reach within the next few months with the grant?

[2022-11-28 23:53] brucexu-eth commented on #1122
Hi @ErinOCon, thanks. Good question. Sorry, I forget the timeline and milestone part of the information.

Speaking for item 1 ImageUploader3, we will follow up on the principle "Loose coupling, high cohesion", which means it will have a clear boundary and is composable. More specifically, it handles the following features:

- Choose supported images
- Convert it into a base64 string
- Events and h

[2022-11-29 02:32] ErinOCon commented on #1073
HI @aeonicc, thank you for your reply. Can you review our [open source policy](https://github.com/filecoin-project/devgrants/blob/master/open-source-policy.md) and confirm which license will apply?

[2022-11-29 02:34] ErinOCon commented on #1069
HI @afk1997, I hope you are doing well! Do you have an update on the inquiry above?

[2022-11-29 02:36] ErinOCon commented on #1018
HI @rageofaxe, I hope you are doing well! Is this a project you are still working on? Please let me know if you have questions for our team.

[2022-11-29 05:36] mindflyart commented on #1108
Dear Sonia John:

How are you? I'm Johnson from MINDFLy.art, I'm wondering that if you have
received my mail ? I just want to make sure that I put right email address
here. Thanks.

All revision is done and awaiting your kind review.

Your attention and reply is highly appreciated.

Cheers,

*Johnson Young *
CEO
MINDFLY.art
Artsportdao.xyz

Tel: 0061-0403648068
Email: ***@***.***
Website: https://

[2022-11-29 07:41] ErinOCon commented on #1127
This microgrant has been approved! We will send an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-29 07:41] #1127 closed

[2022-11-29 08:18] cardeverre commented on #1167
Hi @benediktwoelk,

Thanks for the swift reply and yes sure thing.

- Native Bitswap implementation feasibility in Unity + Unreal
_We have looked at possible implementations for Bitswap in the plugins and believe it as theoretically possible. However not all of the work items are fully realized yet so there are still some unknowns which we believe will become clearer as we go. The overage time spe

[2022-11-29 08:27] ErinOCon commented on #1136
Hi @blocknomad, thank you for the provided information! Can you clarify the level of completion you intend to achieve with this microgrant? Also, can you briefly describe your plans to increase the adoption of the tool?

This microgrant has been approved! We will send an email to confirm payment details. Please note that your final grant report is due within three months and can be submitted [here

[2022-11-29 08:27] #1136 closed

[2022-11-29 08:44] ErinOCon commented on #1151
This microgrant has been approved! We will send an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-29 08:44] #1151 closed

[2022-11-29 09:01] ErinOCon commented on #868
Thanks @holyaustin! We will send an email to confirm payment details.

Please note that your final grant report is due within three months and can be submitted [here](https://airtable.com/shrrtSlgdVvrPmAvr). Please let us know if you have any questions!

[2022-11-29 09:09] hellenstans97 opened #1182 "Next Step Microgrant: ENS Redirect"
### 1. What is your project? (max 100 words)
Most ENS holders didn't know that they could do so much more with their .eth names. The basic idea behind ENS Redirect was to make it easier for users to utilize their ENS names, whether that is by forwarding domains to their social/professional profiles, showing off their work, supporting a cause, or just having fun with youtube videos & memes. Our pro

[2022-11-29 09:34] realChainLife commented on #1096
@thor314 great to hear you'll be prioritiing content creation at this stage, happy to work with your preferred subject here, both if applicable as well. Please rework the proposal to reflect this development plan change and we'll re-evaluate.

[2022-11-29 09:36] ghaniape commented on #888
hi ErinOCon ,

I'm here to answer all your questions.
Is this project open source?of course yes, our github link ：https://github.com/https://github.com/cluster3labs/rank-sol.git

We've made a lot of progress recently, the team upgraded our products and rebranded.Now Cluster3 is the #1 source for Community Contributors.Aggregating both on-chain and off-chain data, Cluster3 serves as community achie

[2022-11-29 09:39] ErinOCon commented on #531
Hi @IKalonji, do you have an update available?

[2022-11-29 09:44] ErinOCon commented on #520
Hi @IKalonji, thank you for your final repot. Can you point to the code that was built during the time of this grant?

[2022-11-29 10:03] realChainLife commented on #1025
Hi @qizhou our evaluators had several questions from the initial review:

- Will you be using proof of random access to prove replication on different devices?
- How will you provide proof-of-storage?

[2022-11-29 10:07] realChainLife commented on #1030
Hi @Doc-Failure thanks for your patience with our review however we will not be funding the work outlined here at this time.

[2022-11-29 10:07] #1030 closed

[2022-11-29 10:19] ErinOCon commented on #1051
Hi @akhileshthite, thank you for your proposal. It looks like you have found a lot of building opportunity through our microgrants program!

We will not be proceeding with a grant at this time for this project. Please feel welcome to consider our [other grant types ](https://github.com/filecoin-project/devgrants/issues/new/choose) should the scale and scope of your future work align with the outli

[2022-11-29 10:19] #1051 closed

[2022-11-29 10:45] akhileshthite commented on #1051
No problem @ErinOCon, thanks for the update.
I love building on IPFS/Filecoin.

The grant programs helped me to put extra hours apart from the university work and ship the software!
Thanks a ton :)

Happy decentralizing 🏴‍☠️

Users are growing rapidly:
https://buidltools.com/

[2022-11-29 10:57] ErinOCon commented on #863
Hi @cryptotwilight, I hope you are doing well! Can you provide a final report for this project [here](https://airtable.com/shrrtSlgdVvrPmAvr)? Please let us know if you have any questions!

[2022-11-29 10:59] ErinOCon commented on #555
Hi @cryptotwilight, Can you provide a final report for this project [here](https://airtable.com/shrrtSlgdVvrPmAvr)? Please let us know if you have any questions!

[2022-11-29 11:14] ErinOCon commented on #513
Hi @1Busayo, thank you for the submitted report! Can you point to the code built during the timeframe of this grant?

[2022-11-29 11:18] ErinOCon commented on #540
Hi @lakshh07, I hope you are doing well! Do you have any questions regarding the final report?

[2022-11-29 11:19] ErinOCon commented on #496
Hi @lakshh07, do you have any questions regarding the final report?

[2022-11-29 11:29] 1Busayo commented on #513
@ErinOCon during the time frame of this grant I worked on version 2.0. please click the link to see the code that was written https://github.com/1Busayo/LINKE/tree/V2.0/linke.
visit this  link  to compare the changes on the code  to https://github.com/1Busayo/LINKE/compare/master...V2.0

[2022-11-29 11:45] FazioNico opened #1183 "Next Step Microgrant: dDrive - Decentralized Drive System"
### 1. What is your project? (max 100 words)

dDrive is a fully decentralized and open-source Web3 Cloud Storage solution which replace traditional Web2 storage providers having centralized governance, cumbersome infrastructure, inadequate security and privacy measures with users datasets.

dDrive is build on top of IPFS and inherits all the features of Blockchain Technology to emerge as an immuta

[2022-11-29 12:02] codethazine opened #1184 "VideOracle Open Grant Application"
# Open Grant Proposal: `VideOracle`

**Name of Project:** VideOracle

**Proposal Category:** `app-dev`

**Proposer:** `codethazine`

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT, APACHE2, or GPL licenses?:** "Yes"

# Project Description

VideOracle is a protocol to verify real-world events on-chain through video.

Currently, real-world events canno

[2022-11-29 12:07] realChainLife commented on #1108
Hi @mindflyart thanks for the rework, can you also update the budget request for the scope of work marked as high priority?

[2022-11-29 13:52] regcs commented on #1180
Hi @realChainLife!

Sure, I am happy to provide some more details on this aspect.

## Renderhive Smart Contract

### Motivation for the Escrow

The smart contract forms the trust layer for payments between the client nodes (i.e., the users buying render power) and the render nodes (i.e., the users selling their render power). These parties have competing security interests:

* Client nodes only wa

[2022-11-29 14:22] ErinOCon commented on #908
Hi @Glochain, please check your email to review the status of this microgrant payment.

[2022-11-29 16:21] ErinOCon commented on #1083
Hi @stevetn611, thank you for providing the additional context. Can you briefly describe how you will accomplish usage growth for both Web3Cloud and Web3Cloud IChill?

[2022-11-29 20:06] rageofaxe commented on #1018
Hi @ErinOCon, I'm sorry for the long answer, we have some problems due to our relocation. Anyway, we didn't do any user research, we just believe that some businesses want to work incognito or independently from the government. For example, in our country (Belarus) many businesses are exposed to repression just for political reasons.

geroes - it's me, I believe it's a strange bug in the GitHub

[2022-11-29 22:52] bq1024 opened #1185 "Next Step Microgrant: IPFS Computing Router"
### 1. What is your project? (max 100 words)

IPFS Computing Router enables users to fetch datasets from the nearest IPFS nodes, and upload the training result to the IPFS gateway, or multichain.storage, whichever is faster.

### 2. Project links

Link to Github repo: https://github.com/Nebula-Block-Data/ipfs-computing-router
Link to demo or website, if applicable: https://www.youtube.com/watch?v=

[2022-11-30 00:57] jumezurike opened #1186 "WEB3.0 WALLET/SMSLOCKR"
Open Grant Proposal: LokDon - Anti phishing; anti cache hacking; SMS/wallet security token on Filecoin IPFS and NFT storage

** Name of Project: WEB3.0 SMSLOCKR

** Proposal Category:** app-dev

** Proposer:** @jumezurike

** Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT and APACHE2 licenses?** Yes

# Description of the project (WEB3.0 WALLET/SMSLOCKR

[2022-11-30 01:18] jumezurike commented on #1186
This my proposal for smslockr

[2022-11-30 01:21] jumezurike opened #1187 "devgrant"
# Open Grant Proposal: `Project Title`

**Name of Project:**

**Proposal Category:** Choose one of `core-dev`, `app-dev`, `devtools-libraries`, `integration-adoption` , `technical-design`, `docs` , `community` , `metaverse` , `research` , `green`  Learn what these categories are here: https://github.com/filecoin-project/devgrants/tree/master/open-grants#readme

**Proposer:** `replace with your Git

[2022-11-30 01:32] jumezurike opened #1188 "devgrant"
# Open Grant Proposal: `Project Title`

**Name of Project:**

**Proposal Category:** Choose one of `core-dev`, `app-dev`, `devtools-libraries`, `integration-adoption` , `technical-design`, `docs` , `community` , `metaverse` , `research` , `green`  Learn what these categories are here: https://github.com/filecoin-project/devgrants/tree/master/open-grants#readme

**Proposer:** `replace with your Git

[2022-11-30 02:14] jumezurike opened #1189 "dev grant"
# Open Grant Proposal: `Project Title`

**Name of Project:**

**Proposal Category:** Choose one of `core-dev`, `app-dev`, `devtools-libraries`, `integration-adoption` , `technical-design`, `docs` , `community` , `metaverse` , `research` , `green`  Learn what these categories are here: https://github.com/filecoin-project/devgrants/tree/master/open-grants#readme

**Proposer:** `replace with your Git

[2022-11-30 02:18] jumezurike opened #1190 "Anti"
# Open Grant Proposal: `Project Title`

**Name of Project:**

**Proposal Category:** Choose one of `core-dev`, `app-dev`, `devtools-libraries`, `integration-adoption` , `technical-design`, `docs` , `community` , `metaverse` , `research` , `green`  Learn what these categories are here: https://github.com/filecoin-project/devgrants/tree/master/open-grants#readme

**Proposer:** `replace with your Git

[2022-11-30 02:34] qizhou commented on #1025
Thanks for the questions.  Please see the following for my responses:

Yes.  As long as the storage device has more than a minimal storage requirement (e.g., 4TB, which is adjustable) with decent IOPS (NVME SSD is preferred, but SATA SSD should also work), then the device can efficiently generate the proof of random access.  That said, even a cellphone or iPad with 4TB could host a physical replic

[2022-11-30 09:43] #1187 closed

[2022-11-30 09:43] #1189 closed

[2022-11-30 09:43] #1190 closed

[2022-11-30 10:08] stevetn611 commented on #1083
Hi @ErinOCon,
Sure, The following is our  go to market strategy plan:
Web3Cloud:
     -Partnerships with top projects of the ecosystem.
     -Provide free trial services plan
     -Create hackathons/dev grant to evangelize the protocol amongst
developers
     -Build Reward/ incentive mechanism to incentivize network services use
     -Speed up launch mainnet for Storage and Hosting services soon a

[2022-11-30 10:38] FroghubMan commented on #1121
@raulk
At the beginning, we considered tvx vector format, but because the comparison target of tvx vector format is StateTree Root,
which is inconsistent with the EVM slot we imagined, so we wanted to design a new format test vector.

For environmental data, we need to expand the implementation of opcodes related to it,
implement the function that these environment data can be read from external d

[2022-11-30 12:30] BlocksOnAChain commented on #1154
@tchataigner thanks for this, looks really good. 👍
I'm glad we spent some extra time on it to cover the entire scope of the proposal, now we can really enjoy seeing how far we came from the early draft days.

Next to all the comments from @maciejwitowski that you addressed, I would like to know more about:

- I love that we included the sandbox in the scope, but as you already know this is somethi

[2022-11-30 14:27] AdjacentHub opened #1191 "The descrowhub project"
### 1. What is your project? (max 100 words)
The Self-service Escrow Platform demo/prototype runs on Goerli Testnet with GoerliETH.
In the Search by escrow ID just type 1 or 2 or 3, etc. Disputes can be resolved by the admin to refund the buyer according to the contract escrow mechanics.

The descrowhub project can be installed into any type of EVM-compatible network.
– The project is comparable t

[2022-11-30 14:31] ekil1100 commented on #1145
@realChainLife Does any additional information I can provide to push this forward?

[2022-11-30 16:33] brdji opened #1192 "Open Grant Proposal: Testground"
# Open Grant Proposal: `Testground`

**Name of Project:**
Testground

**Proposal Category:**
 `devtools-libraries`

**Proposer:**
Darko Brdareski - `brdji`

**(Optional) Technical Sponsor:**
N/A

**Do you agree to open source all work you do on behalf of this RFP and dual-license under MIT and APACHE2 licenses?:** Yes

# Project Description
Testground is a platform for testing, benchmarking, and s

[2022-11-30 17:00] ErinOCon commented on #1088
HI @Agin-DropDisco, thank you for checking in! This grant is still under review, but we expect an update will be available soon.

[2022-11-30 18:20] ErinOCon commented on #1041
Hi @raoramesh, I hope you are doing well! Do you expect to have an update available this week?

[2022-11-30 18:34] jnthnvctr commented on #1138
How does access management happen here? Or I guess framed another way - how does one manage:
a) the flow of funds (to ensure payment is actually flowing back to the DAO)
b) if the CID is embedded in the NFT, how does one prevent the first user (who might pay) from reselling at a cheaper price by just storing and serving the data themselves?

Is the data getting encrypted / re-encrypted on reads?

[2022-11-30 18:46] ErinOCon commented on #1150
HI @WojtasDAO, thank you for your proposal. We will not be moving forward with a grant at this time, but would highly recommend checking out [Orbit](https://orbitcommunity.filecoin.io/) for additional opportunities!

[2022-11-30 18:46] #1150 closed

[2022-11-30 18:51] wesfloyd commented on #1146
For the Bacalhau team's perspective - this grant would open up additional use cases for Bacalhau processing of sensitive data stored in Filecoin. For example, Healthcare and Financial Services datasets often require compute over encrypted data. This grant work would be the first capability for Bacalhau to service those workloads.

[2022-11-30 21:32] laudiacay commented on #1181
Also: see this: "KYC and claims attestation" on here: https://rfs.fvm.dev/#46ba2bcb4a0d4968b97c5e72b8534608